<h2>Thank you for letting us know!</h2>

<p>
  <% if @talk.speakers_confirmed? %>
    We're looking forward to seeing you!
  <% else %>
    We're sorry to hear that you cannot come to Booster this year. We hope to see you next year!
  <% end %>
</p>
