<script>
    $(document).ready(function () {
        $('.select-talk').selectize({
            sortField: 'text',
            allowEmptyOption: true
        });
    });
</script>
<article class="inner">
<div class="header-join">
<h2>Create empty slot</h2>
</div>
<%= render 'form' %>
</article>
