<h1> Program planner </h1>

<div id="planner_window">

  <div id="speaks_listing"></div>

  <div id="program_listing">

    <% @days.each do |day| %>

        <table>
          <tr><th id="day_headline" colspan=7><h3><%= day %></h3></th></tr>
          <tr>
            <% (1..@num_tracks).each do |number| %>
                <th><h5>Track <%= number %> </h5></th>
            <% end %>
          </tr>
          <tr>
            <% (1..@num_tracks).each do |number| %>
                <td></td>
            <% end %>
          </tr>
        </table>

     <% end %>

  </div>

</div>

<script>
    var speakCollection = new SpeakCollection
    ([
        {speaker: 'Ole Brumm', title: 'What I want for Christmas', description: 'Wooden Toy House'},
        {speaker: 'Hans Brumundsen', title: 'Et tilbakeblikk', description: 'Foredrag om alt som har skjedd de siste 20 år'},
        {speaker: 'Kaptein Sabeltann', title: 'Min vei mot makten', description: 'Biografisk.'}
    ]);

    var speakItemListView = new SpeakItemListView({

        // Pass model as a parameter to a view.
        collection: speakCollection
    });
    speakItemListView.render()

    window.onload = function() {
        var dragged = document.getElementById("drag1");
        var drophere = document.getElementById("drop1");
        dragged.ondragstart = drag;
        drophere.ondragover = allowDrop;
        drophere.ondrop = drop;
    }

</script>