<h1> Program planner </h1>

<div id="planner_window">

  <div id="speaks_listing" class="droppable"></div>

  <div id="program_listing">

    <table>
      <tr>
        <% (1..@num_tracks).each do |number| %>
            <th><h5>Track <%= number %> </h5></th>
        <% end %>
      </tr>
      <% (1..@num_slots).each do |slot_num| %>
          <% (1..@talks_per_slot).each do |talks| %>
              <tr>
                <% (1..@num_tracks).each do |number| %>
                    <td>
                      <div class="droppable slot"></div>
                    </td>
                <% end %>
              </tr>
          <% end %>
          <tr>
            <td colspan="<%= @num_tracks %>" class="break">Break</td>
          </tr>
      <% end %>
    </table>

  </div>

  <div class="warnings">
    <h3>Warnings</h3>
  </div>

</div>

<script>

    var collection = new SpeakCollection();

    collection.fetch({
        success: function (collection, response, options) {
            speakItemListView = new SpeakItemListView({ collection: collection});

            $('#speaks_listing').html(
                    speakItemListView.render().el
            );

            $(function () {

                $(".droppable").droppable({
                    drop: function (event, ui) {
                        $(ui.draggable).detach().css({top: 0, left: 0}).appendTo(this);
                        $(ui.draggable).css("border", "none");
                        $(ui.draggable).css("float", "left");
                        $(ui.draggable).toggleClass(' dropped');
                    },
                    hoverClass: "hover_over"
                })
            });
        },
        error: function (collection, response, options) {
            alert('error!');
        }
    });

</script>