<article class="inner">
  <div class="header-join">
    <h2>Edit ticket type</h2>
  </div>
  <%= form_for(@ticket_type) do |f| %>
    <%= render partial: "form_fields", locals: { f: f } %>
  <% end %>
  <div class="form-actions">

  </div>

</article>
