<article class="inner">
  <div class="header-join">
    <h2><%= @title %></h2>
</div>


<p><strong>Total number of companies: <%= @companies.size %></strong></p>

<ol>

<% for company in @companies %>
    <li><%= company[0] %> : <%= company [1] %></li>
<% end %>
</ol>

</article>
