<h2><%= @title %></h2>

<p></p><strong>Total number of companies: <%= @companies.size %></strong></p>

<ol>
<% for company in @companies %>
    <li><%= company.company.present? ? company.company : "(n/a)" %>: <%= company.num_of_participants %></li>
<% end %>
</ol>