<div class="program-row row">
  <div class="span12">
    <section class="period">
      <header class="break">
        <time class="time"><%= time %></time>
        <span class="location"><%= location %></span>
        <span>&mdash; <%= title %></span>
      </header>
    </section>
  </div>
</div>