<div class="program-row">
  <section class="period">
    <header class="break">
      <time class="time"><%= time %></time>
      <span class="location"><%= location %></span>
      <span>&mdash; <%= title %></span>
    </header>
  </section>
</div>