<div class="program-row row">
  <div class="span12">
    <section class="period">
      <header>
        <span class="location"><%= location %></span>
        <time class="time"><%= time %></time>
      </header>
      <div class="slot">
        <div class="plenary-type">
          <h3>Keynote: <%= talk.title %></h3>
        </div>
      </div>
    </section>
  </div>
</div>