<% if admin? %>
    <% if talk.volunteers.any? %>
        <div class="volunteers">
          <% talk.volunteers.each do |volunteer| %>
              <div class="volunteer">Frivillig:
                <%= volunteer.full_name %></div>
          <% end %>
        </div>
    <% end %>
<% end %>
