<div class="program">
	<h2>Program</h2>

	<div class="row"> 
		<div class="span12">
			<h3>Welcome</h3>
			<h3>Keynote: Habla habla hanle. About ahkjdkf lkdjjg</h3>
		</div>
	</div>

	<h3>Wednesday</h3>
	<table class="table program">
		<thead>
			<tr><th></th><th>10:30 - 11:15</th><th>11:30 - 12:15</th><th>13:30 - 15:00</th><th>15.30 - 17:00</th></tr>
		</thead>
		<tbody>
			<tr>
				<th>Dragefjellet</th>
				<td>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Automated CSS Testing</h5>
					          <span class='author'>Kristofer Walters</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
						    <a href="/talks/1">
						        <div class='talk' data-talkid='1'>
						          <h5>UX Low hanging fruit</h5>
						          <span class='author'>Fredrik Johnsson</span>
						        </div>
						    </a>
						</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Are you cross-browser compatible?</h5>
					          <span class='author'>Safurudin Mahic</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>How we transformed a dreadful legacy codebase using only a Strap-on</h5>
					          <span class='author'>Espen Dalløkken</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Slik unngår du at din app blir en sikkerhetstrussel</h5>
					          <span class='author'>Anders Skar</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
						    <a href="/talks/1">
						        <div class='talk' data-talkid='1'>
						          <h5>All you need to know about TypeScript (in 10 minutes)</h5>
						          <span class='author'>Torstein Nicolaysen</span>
						        </div>
						    </a>
						</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>RubyMotion - Developer happiness for iOS</h5>
					          <span class='author'>Bjørn Arild Mæland</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>HTML5 Pixel Magic</h5>
					          <span class='author'>Eirik Bjørsnøs</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td colspan="2">
				  <div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>Finding the Keys to Change: How Visible and Invisible Structures Create Patterns in Organizations</h5>
				            <span class='author'>Esther Derby</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop. Suitable for everyone.
					</div>
				</td>
			</tr>
			<tr>
				<th>Teatergaten</th>
				<td>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Programming by hyperbole</h5>
					          <span class='author'>Einar W. Høst</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Type Driven Development</h5>
					          <span class='author'>Maciek Próchniak</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Distribuert databasesynkronisering i skyen(e)</h5>
					          <span class='author'>Knut Tveitane</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Tips for bedre logger</h5>
					          <span class='author'>Anders Båtstrand</span>
					        </div>
					    </a>
					</div>
				</td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>#!/bin/bash for programmers</h5>
				            <span class='author'>Stein Inge Morisbak</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Muséplass</th>
				<td>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Alle prosjekter bør gjennomføre brukertesting!</h5>
					          <span class='author'>Ram Yoga</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>Emphasizing customer value of software quality using quality requirements</h5>
					          <span class='author'>Mario Ek Aparicio</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>EffectMapping: Hvis forretningsverdi er viktigst</h5>
					          <span class='author'>Håvard Sjøvoll</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk-slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <h5>K I S S - Keep It Simple Stupid</h5>
					          <span class='author'>Thommy Bommen</span>
					        </div>
					    </a>
					</div>
				</td>
				<td>
				</td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>A gentle but hands-on Introduction to Technical Testing using JMeter</h5>
				            <span class='author'>Øystein Sekse Øie, Jørgen Austvik</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Galgebakken</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>Stop wasting time! Build your MVP in one day and start validating now!</h5>
				            <span class='author'>Mark Nijhof</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Tårnplass</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>Validated Influencing Workshop</h5>
				            <span class='author'>Ingvald Skaug, Ivana Gancheva</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Hødden</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>ROCA: Embrace the Web</h5>
				            <span class='author'>Willem van Kerkhof, Frederik Dohr</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Strangehagen</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <h5>Unacademic functional programming with Scala. For you who do not already know what "monoids in the category of endofunctors" are</h5>
				            <span class='author'>Kaare Nilsen</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
		</tbody>
	</table>
</div>