<div class="program">
	<h2>Program</h2>

	<div class="practical-info">
		<h4>Lunch at 12:15 - 13:30 everyday in the restaurant.</h4>
		<h4>Coffee and tea available in all breaks.</h4>
	</div>

	<div id="tabs">
	  <ul>
	    <li><a href="#fragment-1">Wednesday</a></li>
	    <li><a href="#fragment-2">Thursday</a></li>
	    <li><a href="#fragment-3">Friday</a></li>
	  </ul>
	  <div id="fragment-1">
	  	<header class="time">
	  		<h4>09:00 - 09:15 - Dragefjellet: Welcome from the organizers</h4>
			<h3>09:15 - 10:15 - Opening keynote: Gary McGraw, sprinkle crypto fairy dust!</h3>
		</header>
	    <table class="table">
		<thead>
			<tr>
				<th></th>
				<th class="lightning-talk-slot">10:30 - 11:15</th>
				<th class="lightning-talk-slot">11:30 - 12:15</th>
				<th>13:30 - 15:00</th>
				<th>15.30 - 17:00</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Dragefjellet</th>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Automated CSS Testing</div>
					          <span class='author'>Kristofer Walters</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
						    <a href="/talks/1">
						        <div class='talk' data-talkid='1'>
						          <div class="title">UX Low hanging fruit</div>
						          <span class='author'>Fredrik Johnsson</span>
						        </div>
						    </a>
						</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Are you cross-browser compatible?</div>
					          <span class='author'>Safurudin Mahic</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">How we transformed a dreadful legacy codebase using only a Strap-on</div>
					          <span class='author'>Espen Dalløkken</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Slik unngår du at din app blir en sikkerhetstrussel</div>
					          <span class='author'>Anders Skar</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
						    <a href="/talks/1">
						        <div class='talk' data-talkid='1'>
						          <div class="title">All you need to know about TypeScript (in 10 minutes)</div>
						          <span class='author'>Torstein Nicolaysen</span>
						        </div>
						    </a>
						</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">RubyMotion - Developer happiness for iOS</div>
					          <span class='author'>Bjørn Arild Mæland</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">HTML5 Pixel Magic</div>
					          <span class='author'>Eirik Bjørsnøs</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td colspan="2">
				  <div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Finding the Keys to Change: How Visible and Invisible Structures Create Patterns in Organizations</div>
				            <span class='author'>Esther Derby</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop. Suitable for everyone.
					</div>
				</td>
			</tr>
			<tr>
				<th>Teatergaten</th>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Programming by hyperbole</div>
					          <span class='author'>Einar W. Høst</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Type Driven Development</div>
					          <span class='author'>Maciek Próchniak</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Distribuert databasesynkronisering i skyen(e)</div>
					          <span class='author'>Knut Tveitane</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Tips for bedre logger</div>
					          <span class='author'>Anders Båtstrand</span>
					        </div>
					    </a>
					</div>

					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">App-server euthanasia; Dropwizard</div>
					          <span class='author'>Olve Hansen</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
						    <a href="/talks/1">
						        <div class='talk' data-talkid='1'>
						          <div class="title">Storm: Real time processing of Big Data</div>
						          <span class='author'>Jon Espen Ingvaldsen</span>
						        </div>
						    </a>
						</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Apache Kafka - distributed publish-subscribe messaging system</div>
					          <span class='author'>Morten Kjetland</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Deploying Java web applications with zero downtime</div>
					          <span class='author'>Stein Inge Morisbak</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">#!/bin/bash for programmers</div>
				            <span class='author'>Stein Inge Morisbak</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Muséplass</th>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Alle prosjekter bør gjennomføre brukertesting!</div>
					          <span class='author'>Ram Yoga</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Emphasizing customer value of software quality using quality requirements</div>
					          <span class='author'>Mario Ek Aparicio</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">EffectMapping: Hvis forretningsverdi er viktigst</div>
					          <span class='author'>Håvard Sjøvoll</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">K I S S - Keep It Simple Stupid</div>
					          <span class='author'>Thommy Bommen</span>
					        </div>
					    </a>
					</div>

					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Embrace the superteam</div>
					          <span class='author'>Kjartan Storli, Ricki Sickenger</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Manage risk and expectations in Agile</div>
					          <span class='author'>Harald Hovdevik</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Hvor smidig er utviklingen hvis vi følger en smidig metode?</div>
					          <span class='author'>Atle Geitung</span>
					        </div>
					    </a>
					</div>
					<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Feil</div>
					          <span class='author'>Gaute Småland</span>
					        </div>
					    </a>
					</div>

					<div class="meta">
						Lightning-talks
					</div>
				</td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">A gentle but hands-on Introduction to Technical Testing using JMeter</div>
				            <span class='author'>Øystein Sekse Øie, Jørgen Austvik</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Galgebakken</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Stop wasting time! Build your MVP in one day and start validating now!</div>
				            <span class='author'>Mark Nijhof</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Tårnplass</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Validated Influencing Workshop</div>
				            <span class='author'>Ingvald Skaug, Ivana Gancheva</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Hødden</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">ROCA: Embrace the Web</div>
				            <span class='author'>Willem van Kerkhof, Frederik Dohr</span>
				          </div>
				        </a>
				  </div></td>
			</tr>
			<tr>
				<th>Strangehagen</th>
				<td></td>
				<td></td>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Unacademic functional programming with Scala. For you who do not already know what "monoids in the category of endofunctors" are</div>
				            <span class='author'>Kaare Nilsen</span>
				          </div>
				        </a>
				  </div>
				</td>
			</tr>
		</tbody>
	</table>
	  </div>
	  <div id="fragment-2">
	    <table class="table">
		<thead>
			<tr>
				<th></th>
				<th class="">09:00 - 10:30</th>
				<th class="">10:45 - 12:15</th>
				<th class="open-spaces">13:30 - 15:30</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Dragefjellet</th>
				<td colspan="2">
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">ATDD by example</div>
					          <span class='author'>Markus Gärtner</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Teatergaten</th>
				<td colspan="2">
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Goals, needs, design, impact</div>
					          <span class='author'>Jonas Söderström</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Muséplass</th>
				<td colspan="2">
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Fly-weight Agile: Just enough process to get rid of</div>
					          <span class='author'>Matt Barcomb</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Galgebakken</th>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Test driven MVVM development in JavaScript</div>
				            <span class='author'>Jørn Are Hatlelid</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Tårnplass</th>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Coding Dojo Challenge: Writing Readable Tests & Refactoring</div>
				            <span class='author'>Emily Bache</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Hødden</th>
				<td>
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Securing your web application through HTTP headers</div>
				            <span class='author'>André Klingsheim</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Short workshop.
					</div>
				</td>
				<td>
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Defensive programming</div>
				            <span class='author'>Niall Merrigan</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Short workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Strangehagen</th>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Elasticsearch tutorial</div>
				            <span class='author'>Erling Wegger Linde</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
			<tr>
				<th>Dokken</th>
				<td></td>
				<td>
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Caching and Tuning fun for high scalability</div>
				            <span class='author'>Wim Godden</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Short workshop.
					</div>
				</td>
				<td>Open spaces</td>
			</tr>
		</tbody>
	</table>
	  </div>
	  <div id="fragment-3">
	  	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th class="workshop-slot">09:00 - 10:30</th>
				<th class="workshop-slot">10:45 - 12:15</th>
				<th class="workshop-slot">13:30 - 15:00</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Dragefjellet</th>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">The Power of Why</div>
					          <span class='author'>Geir Amsjø</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">How to keep your close-knit, pair-programming, 
					          	co-located, two-pizza agile scrumban team from imploding</div>
					          <span class='author'>Anette Bergo</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Implementing Programmer Anarchy</div>
					          <span class='author'>Fred George</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
			</tr>
			<tr>
				<th>Teatergaten</th>
				<td colspan="3">
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Team Dojo</div>
					          <span class='author'>Jason Gorman</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Full-day workshop.
					</div>
				</td>
			</tr>
			<tr>
				<th>Muséplass</th>
				<td colspan="2">
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Building a Quality Product with Whole-team Exploration</div>
					          <span class='author'>Matt Barcomb</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th>Galgebakken</th>
				<td colspan="2">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Continuously Deliver with ConDep</div>
				            <span class='author'>Jon Arild Tørresdal</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Half-day workshop.
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<th>Hødden</th>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Responsive web design - for all screens</div>
					          <span class='author'>Olav Øyen</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Scalable and maintainable CSS</div>
					          <span class='author'>Wenche Tollevsen</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
				<td>
					<div class='slot'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">Composable Front-Ends With Component</div>
					          <span class='author'>David Ed Mellum</span>
					        </div>
					    </a>
					</div>
					<div class="meta">
						Short workshop.
					</div>
				</td>
			</tr>
			<tr>
				<th>Strangehagen</th>
				<td colspan="3">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">RaspberryPi and Java</div>
				            <span class='author'>Joachim Haagen Skeie</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Full-day workshop.
					</div>
				</td>
			</tr>
			<tr>
				<th>Sydneshaugen</th>
				<td colspan="3">
					<div class='slot'>
				        <a href="/talks/1">
				          <div class='talk' data-talkid='1'>
				            <div class="title">Securing JavaScript - Secure single page web apps</div>
				            <span class='author'>Thomas Gøytil, Erlend Oftedal</span>
				          </div>
				        </a>
				  </div>
				  <div class="meta">
						Full-day workshop.
					</div>
				</td>
			</tr>
		</tbody>
	</table>
		<header class="time">
		  		<h3>15:15 - 16:15 - Closing keynote: Gojko Adzic: Impact mapping and all that jazz!</h3>
				<h4>16:15 - 16:30 - Thank you and goodnight!</h4>
		</header>
	  </div>
	</div>


	<script type="text/javascript">
		$( "#tabs" ).tabs({ active: 0 });
	</script>
</div>