<div>

<h4><span>Keynote:</span> Esther Derby</h4>
<h2 class="keynotetitle">Self-Organize or&nbsp;Die:</h2>
<h3 class="keynotetitle">Why self-organizing teams are the key to&nbsp;thriving in a fast changing world</h3>
<p class="keynoteintro">“Self-organizing team” may be the most over-used, mis-understood, vague, and mis-leading phrase of the decade. What is a self-organizing team? How are self-organizing teams different from other teams? What makes self-organizing teams the key to unlocking creativity and agility?
</p>
</div>