<div class="program">
	<h2>Lightning talks</h2>
	<h3>Wednesday March 12th 11:30</h3>
	<table >
		<tr>
			<th>Dragefjellet</th>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr>
			<th>Teatergaten</th>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr>
			<th>Muséplass</th>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="odd">
			<td>
				<div>TBA</div>
			</td>
		</tr>
		<tr class="even">
			<td>
				<div>TBA</div>
			</td>
		</tr>
	</table>
</div>