<div class="program">
	<h2>Lightning talks</h2>
	<h3>Wednesday March 12th 10:30</h3>
	<table >
		<tr>
			<th>Dragefjellet</th>
		</tr>
		<tr class="odd">
			<td>
				<a href="/talks/1">
	          <strong class="title">Automated CSS Testing</strong>
	          <div class='author'>Kristofer Walters</div>
	      </a>
			</td>
			</tr>
			<tr class="even">
			<td>
				<div class='slot lightning-talk'>
					    <a href="/talks/1">
					        <div class='talk' data-talkid='1'>
					          <div class="title">UX Low hanging fruit</div>
					          <span class='author'>Fredrik Johnsson</span>
					        </div>
					    </a>
					</div>
					</td>
					</tr>
			<tr class="odd">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Are you cross-browser compatible?</div>
				          <span class='author'>Safurudin Mahic</span>
				        </div>
				    </a>
				</div>
				</td>
				</tr>
			<tr class="even">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">How we transformed a dreadful legacy codebase using only a Strap-on</div>
				          <span class='author'>Espen Dalløkken</span>
				        </div>
				    </a>
				</div>
				
			</td>
		</tr>
		<tr>
			<th>Teatergaten</th>
		</tr>
		<tr class="odd">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Programming by hyperbole</div>
				          <span class='author'>Einar W. Høst</span>
				        </div>
				    </a>
				</div>
				</td>
				</tr>
			<tr class="even">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Type Driven Development</div>
				          <span class='author'>Maciek Próchniak</span>
				        </div>
				    </a>
				</div>
				</td>
				</tr>
			<tr class="odd">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Distribuert databasesynkronisering i skyen(e)</div>
				          <span class='author'>Knut Tveitane</span>
				        </div>
				    </a>
				 </div>
				</td>
				</tr>
			<tr class="even">
				<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Tips for bedre logger</div>
				          <span class='author'>Anders Båtstrand</span>
				        </div>
				    </a>
				</div>
			</td>
		</tr>
		<tr>
			<th>Muséplass</th>
		</tr>
		<tr class="odd">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Alle prosjekter bør gjennomføre brukertesting!</div>
				          <span class='author'>Ram Yoga</span>
				        </div>
				    </a>
				</div>
				</td>
			</tr>
			<tr class="even">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">Emphasizing customer value of software quality using quality requirements</div>
				          <span class='author'>Mario Ek Aparicio</span>
				        </div>
				    </a>
				</div>
				</td>
			</tr>
			<tr class="odd">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">EffectMapping: Hvis forretningsverdi er viktigst</div>
				          <span class='author'>Håvard Sjøvoll</span>
				        </div>
				    </a>
				</div>
				</td>
			</tr>
			<tr class="even">
			<td>
				<div class='slot lightning-talk'>
				    <a href="/talks/1">
				        <div class='talk' data-talkid='1'>
				          <div class="title">K I S S - Keep It Simple Stupid</div>
				          <span class='author'>Thommy Bommen</span>
				        </div>
				    </a>
				</div>
			</td>
		</tr>
	</table>
</div>