<div class="program">
	<h2>Workshops</h2>
	<h3>Wednesday March 12th 13:30</h3>
	<table >
		<tr>
			<th>Dragefjellet</th>
		</tr>
		<tr class="odd">
			<td>
				<a href="/talks/1">
            <div class="title">
            	Finding the Keys to Change: How Visible and Invisible Structures Create Patterns in Organizations
            </div>
            <span class='author'>Esther Derby</span>
        </a>
		</td>            
	    </tr>
	    <tr>
			<th>Teatergaten</th>
		</tr>
	    <tr>
	    	<td>
	    		<a href="/talks/1">
	     	<div class="title">Deploying Java web applications with zero downtime</div>
			<span class='author'>Stein Inge Morisbak</span>
		</a>
		</td>
		</tr>

	    <tr>
			<th>Hødden</th>
		</tr>
		<tr>
			<td>
				<a href="/talks/1">
			<div class="title">A gentle but hands-on Introduction to Technical Testing using JMeter</div>
			<span class='author'>Øystein Sekse Øie, Jørgen Austvik</span>
		</a>
		</td>
		</tr>
	</table>
</div>