<html><body>Hello, <%= @speaker %>

<p>This is a notice telling you that you have received a comment
for your talk <%= @talk %>.</p>

<p>You can read the comment <%= link_to 'here', @comment_url %>.
</p>

<p>The Booster 2013 organizers</p>

</body></html>