<html>
<body><p>Hello, <%= @name %></p>

<p>This is a confirmation of your registration at the Booster <%= Dates::CONFERENCE_YEAR %> website (boosterconf.no).</p>

<p>Your username is <%= @email %>.</p>

<p>Your request for a free ticket has been approved, and you are now registered for the conference.</p>

<p>Welcome to Booster <%= Dates::CONFERENCE_YEAR %>!</p>

<p>- The Booster conference organizers</p>

</body>
</html>