<html>
<body>
<p>Hello <%= @name %>,</p>

<p>This is a confirmation of your request for a free ticket at the <a href="boosterconf.no">Booster 2013 website</a>.
  Your username is <%= @email %>.</p>

<p>We will soon contact you for confirmation on the registration details.</p>

<p>- The Booster 2013 organizers</p>
</body>
</html>