<html>

<body>
<p>This is a confirmation that <%= @name %> <<%= @email %>> has signed up for Booster 2013.
  This user has chosen not to pay using PayPal, but wishes to take the opportunity to attend
  the conference for free: <%= @description %>.</p>

<p>The user information is available on <%= @user_url %>.</p>

<p>- The Booster 2013 organizers</p>
</body>
</html>