<html>
<body><p>Hello, <%= @name %></p>

<p>This is a confirmation that you have registered a new user at
  boosterconf.no with username <%= @email %>.</p>

<p>We have received notice that you will not be paying for the conference
  though PayPal, and we will therefore contact you soon for final
  registration confirmation.</p>

<p>Welcome to Booster 2014!</p>

<p>- The Booster conference organizers</p>

</body>
</html>