<html>
<body><p>Hello, <%= @name %></p>

<p>This is a confirmation that you have registered a new user at
  boosterconf.no with username <%= @email %>.</p>

<p>We will be sending you an invoice shortly.</p>

<p>Welcome to Booster 2014!</p>

<p>- The Booster conference organizers</p>

</body>
</html>