<html><body>

<p>This is a confirmation that <%= @name %> <<%= @email %>>  has signed up for Booster 2013.</p>

<p>The user has not paid through PayPal, but instead indicated that the payment should be processed manually.</p>

<p>Here are the payment details for this user:
<%= @description %></p>

<p>The user information is available at <%= @user_url %>.</p>

<p>- The Booster 2013 organizers</p>

</body>
</html>