<html><body><p>Hello,</p>

<p>Someone (hopefully you) have requested that your password should be reset. If you are not
the person who requested this action, please disregard this email.</p>

<p>If you would like to change your password, you can do so using the following link: <%= @edit_password_reset_url %></p>

<p>If you have any problems clicking on the above link, you may try to copy and paste this
directly into your web browser. If this doesn't resolve the issue, you may contact us by
responding to this email directly.</p>

<p>- The Booster 2013 organizers</p>
</body></html>