<html>
<body><p>Hi, <%= @name %>.</p>

<p>This is a confirmation of your registration at <a href="http://www.boosterconf.no">the Booster conference website</a>.
  Your username is <%= @email %>.</p>

<p>As soon as we receive confirmation from our payment provider,
  you will receive a payment confirmation.</p>

<p>If you experience any problems, or don't receive a payment confirmation
  please contact us at kontakt@boosterconf.no.</p>

<p>- The Booster conference organizers</p>
</body>
</html>