<html>
<body>
<p>Hi <%= @name %>,</p>

<p>
  We can see that you signed up as a speaker at the Boosterconf web page. However, you never sent in a proposal.
  The good news is: It's still possible to do so! You have until Sunday 29. November to submit a proposal
  - after that, Call for Presentations is really closed. Submit <%= link_to "here", info_cfp_url %>.
</p>
<p>
  We hope to see you at the conference!
</p>

<p>
  Best regards,<br>
  The Booster conference organizers<br>
  kontakt@boosterconf.no
</p>
</body>
</html>