<html>
<body>

<h2>Programmet er lansert!</h2>
<p>
  Programmet er nå tilgjengelig på <a href="http://boosterconf.no/program">http://boosterconf.no/program</a>.
  Det er fortsatt mulig å kjøpe billett til konferansen. Sjekk <a href="http://boosterconf.no/info/tickets">http://boosterconf.no/info/tickets</a>.
</p>

<h2>Registrere sponsorbillettene</h2>
<p>
  Dersom dere ikke allerede har gjort det, er det på tide å registrere sponsorbillettene. Sponsorer har to gratis billetter til konferansen. Dere har fått lenke for registrering i en tidligere epost. Finner du ikke lenken? Ta kontakt, så fikser vi det!
</p>


<h2>Innlevering av sponsormateriell</h2>
<p>
  Sponsorer som ønsker det kan få distribuert sponsormateriell til deltagerne. Dette kan for eksempel være nøkkelringer, halssnorer, brosjyrer, kaffeposer med din logo eller annet reklamemateriell. Forutsetningen er at det er mulig å få plass til det i posene som vi deler ut til deltagerne. Ta kontakt på forhånd, slik at vi vet hva som kommer :)
</p>

<p>
  Dette materiellet må leveres i <b>200 eksemplarer senest 12. mars kl 16</b>. Materiellet vil bli pakket i poser og utlevert sammen med navneskiltet når deltagerne ankommer Scandic på konferansen første dag. Dersom deltagerantallet blir høyere enn 200 vil vi varsle dette så snart vi vet det.
</p>

<p>
  Sponsormateriell sendes/leveres til:<br/>
  <b>Karianne Berg</b><br/>
  Tlf: 986 75 147<br/>
  c/o Vimond Media Solutions<br/>
  Nøstegaten 72-78<br/>
  5011 Bergen
</p>

<p>
  Vennlig hilsen <br/>
  Booster 2014
</p>
</body>
</html>