<html>
<body>
<p>Hi <%= @name %>,</p>

<p>As a participant at a previous Roots or Booster conference, we would like to remind you that the deadline for signing up as an
  early bird for Booster <%= Dates::CONFERENCE_YEAR %> is right around the corner. So if you haven't done so already, hurry up! If you register
  by <%= AppConfig.early_bird_ends.to_formatted_s(:long_ordinal) %>, the price is only NOK <%= PAYMENT_CONFIG[:prices]['early_bird'] %>,- for the whole three day conference (excluding VAT).</p>

<p>We continue our focus on hands-on tutorials, from where you can take home knowledge you can use straight away. Among
  confirmed speakers are Greg Young, Lisa Crispin, Liz Keogh, Jim "Cope" Coplien and Gojko Adzic..</p>

<p>We have also received quite a few good proposals for tutorials and lightning talks in response to our Call for Presentations
  (see http://www.boosterconf.no/talks). However, we are still looking for more proposals. Send a topic with abstract
  about any (IT-related) topic you really care about! Your audience will probably be developers, architects,
  testers/test managers, UX professionals, product developers and/or project managers, but you will not have to cater
  to all audiences at once. Go to
  http://boosterconf.no/info/cfp and register the topic and abstract for a lightning talk or a tutorial.</p>

<p>Important dates:</p>
<ul>
  <li>22 February Early-bird deadline</li>
  <li>11 March CfP deadline for tutorials</li>
  <li>23 March CfP deadline for lightning talks</li>
  <li>25-27 April Booster 2012</li>
</ul>

<p>Read more and see suggested talks at http://www.boosterconf.no/</p>

<p>
  Best regards,<br>
  The Booster conference organizers<br>
  kontakt@boosterconf.no
</p>
</body>
</html>