<html>
<body><p>Hi,</p>

<p>
  <%= @review.reviewer.full_name %> has added a new review on the submission '<%= @talk.title %>'.
  This is what it says:
</p>

<p>
  <%= simple_format(@review.text) %>
</p>


<p>
  For full history and to reply to the review, <a href="<%= @talk_url %>">Go here</a>.
</p>

<p>- The Booster conference organizers</p>
</body>
</html>