<html>
<body><p>Hi,</p>

<p>
  You have received a new review on your submission '<%= @talk.title %>'. Please go to <%= @talk_url %> to read
  it and find out what it has to say!
</p>

<p>- The Booster conference organizers</p>
</body>
</html>