<html>
<body><p>Registrere partnerbillett</p>

<p>
	Dette er en bekreftelse på en partnerbillett til <a href="http://www.boosterconf.no">the Boosterkonferansen</a>.
</p>

<p>
	Vi ser frem til å se deg på konferansen! Navneskilt hentes på konferansen. For å få riktig informasjon på navneskiltene og eventuelle diettbehov er det viktig å oppdatere informasjonen ved hjelp av følgende skjema: <%= link_to "Din billett", tickets_from_reference_url(@ticket.reference) %>
</p>

<p>Dersom det oppstår noe ikke nøl med å ta kontakt med oss på kontakt@boosterconf.no.</p>

<p>- Boosterkonferansekomiteen</p>
</body>
</html>
