<html>
<body>

<p>Dear <%= @user %>,</p>

<p>The Booster 2013 Speaker's Dinner will be held at Restaurant Beyeren (Rosenkrantz gate 8) on Tuesday May 24th. The
  dinner will start at 17.30. We will meet at the conference hotel reception right after the last tutorial (ends 17:00),
  from where we will either walk or provide taxis, depending on the weather.</p>

<p>We hope as many as possible will attend.</p>

<p>We need to know if you will NOT attend this dinner – please reply to this email if this is the case.</p>

<p>- The Booster 2013 organizers</p>
</body>
</html>