<html>
<body>
<p>Hi, <%= @speaker %></p>

<p>This email confirms that you have been registered with
  user name <%= @email %> and that we have received your
  abstract: <%= @talk %>.</p>

<p>Please note that your abstract is visible for everyone
  visiting the Booster web pages. You can see and edit your
  talk  <%= link_to 'here', @talk_url %></p>

<p>If you have any questions or comments, please do not
  hesitate to contact us by answering this email.</p>

<p>- The Booster 2013 organizers</p>
</body>
</html>