<html>
<body>
<p>Hi, <%= @speaker.first_name %>
</p>

<p>We regret to inform you that your presentation
  "<%= @talk.title %>"
  for Booster <%= Dates::CONFERENCE_YEAR %> has not been accepted. We received a lot of great
  abstracts this year, and unfortunately we do not have room for all of
  them.</p>

<p>If all your abstracts have been refused, we hope that you still want to attend the conference. To register for attendance, reply to this email and you will get an early-bird discount! Hope to see you soon! </p>


<p>Best regards,<br>
The Booster conference organizers</p>
</body>
</html>
