<html>
<body>
<p>Hi, <%= @speaker.first_name %>
</p>

<p>We regret to inform you that your presentation
  "<%= @talk.title %>"
  for Booster <%= Dates::CONFERENCE_YEAR %> has not been accepted. We received a lot of great
  abstracts this year, and unfortunately we do not have room for all of
  them.</p>

<p>If all your abstracts have been refused, we hope that you still want to attend the conference. We can convert your registration to a regular registration, and the ticket price at the time of your registration applies. If you do want to participate, please let us know by replying to this email and we will change your registration.</p>


<p>Best regards,<br>
The Booster conference organizers</p>
</body>
</html>
