<html>
<body><p>Hi,</p>

<p>
  You have been assigned a ticket to Booster 2015! However, we need to know a little bit more about you.
  Please go to <%= link_to 'here', @create_user_url %> and provide us with the information we need.
</p>

<p>
  If you think that there has been made a mistake, we would really
  appreciate it if you <%= link_to 'let us know', "mailto:kontakt@boosterconf.no" %>.
</p>

<p>- The Booster conference organizers</p>
</body>
</html>