<html>
<body>
<p>Hi <%= @name %>,</p>
  <p>
    You have been assigned a ticket to Booster <%= Dates::CONFERENCE_YEAR %>! Make sure the information we have is correct. 
    Click on the link for your ticket information. <%= link_to "Link to ticket", tickets_from_reference_url(@ticket.reference) %>
</p>

<p>
  If you think that you have been registered in error, we would
  appreciate it if you <%= link_to 'let us know', "mailto:kontakt@boosterconf.no" %>.
</p>

<p>- The Booster conference organizers</p>
</body>
</html>
