<html>
<body><p>Hi, <%= @name %>.</p>

<p>
  This is a confirmation of your registration to <a href="http://www.boosterconf.no">the Booster conference</a>.
</p>

<p>We will send you an invoice for NOK <%= @amount_due %> to <%= @email %>.</p>

<p>
  We look forward to seeing you at the conference! You will pick up your name tag at the conference venue.
</p>

<p>If you experience any problems,
  please contact us at kontakt@boosterconf.no.</p>

<p>- The Booster conference organizers</p>
</body>
</html>