<legend>Additional speakers?</legend>
<p>If you want to facilitate the workshop together with somebody else, please enter their details here. We'll send him or her
  an email so that they can finish their registration.</p>
<div class="field email">
  <%= f.label :additional_speaker_email %>
  <%= text_field :user, :additional_speaker_email, :class => 'input-xlarge' %>
</div>
