<legend>Additional speakers</legend>
<% if @workshop.speakers.size > 1 %>
    <p>This workshop is presented by: </p>
    <ul>
      <% @workshop.speakers.each do |speaker| %>
        <li><%= speaker.user.full_name %></li>
      <% end %>
    </ul>
<% else %>
    If you want to facilitate the workshop together with somebody else, please enter their email address here. We'll
      send him or her
      an email so that they can finish their registration.
    <fieldset class="form-group">
      <%= f.label :additional_speaker_email %>
      <%= text_field_tag(:additional_speaker_email, "", :class => 'form-control') %>
    </fieldset>
<% end %>
