<h4>Feedback from the organizers</h4>
<p>Only the organizers and you can see these.</p>

<div id="all-reviews">
  <%= render @talk.reviews %>
</div>

<div id="new-review">
  <%= form_for [@talk, @review], html: { id: 'review-form'}, remote: true do |f| %>
      <legend for="text"> Comment</legend>
      <%= f.text_area :text, class: 'form-control', rows: 8, required: true %>
      <%#= f.submit 'Add review', class: 'btn btn-primary', id: 'submit-review' %>
      <div class="form-actions">
        <button id="submit-review" type="submit" class="btn btn-primary">Add comment</button>
      </div>
  <% end %>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#review-form")
                    .bind('ajax:before', function() {
                        $('#submit-review').prop("disabled", true);
                        $('#submit-review').val("Adding...");

                    })
                    .bind('ajax:complete', function(data, status, xhr) {
                        $('#submit-review').prop("disabled", false);
                        $('#submit-review').val("Add review");
                    }
            )
        });
    </script>
<% end %>
