<article>
<h1>Room cheat sheet</h1>
<hr/>

<% for talk in @talks %>
    <h3><%= link_to h(talk.title), talk %></h3>
    <ul>
      <li><strong>Room setup:</strong> <%= talk.room_setup %></li>
      <li><strong>Participant requirements:</strong> <%= talk.participant_requirements %></li>
      <li><strong>Extra equipment needed:</strong> <%= talk.equipment %></li>
    </ul>

<% end %>
</article>