<article class="inner">
  <div class="header-join">
<h2 class="page_title">Edit your presentation</h2>
</div>
<%= render :partial => 'form' %>

<h3>Upload presentation slides</h3>

<%= render :partial => 'upload_slide' %>
</article>
