<article class="inner">

<%= content_for :title, "Suggest a talk/tutorial" %>
<div class="header-join">
<h2 class="page_title">Submit an abstract</h2>
</div>
<%= render :partial => 'form' %>

</article>
