<fieldset id="confirmations">

  <% unless @user.registration.student? %>
      <div class="checkbox">
        <%= reg.check_box :includes_dinner, :class => "checkbox" %>
        <%= reg.label :includes_dinner, "I want to attend the conference dinner", :style => "display:inline", :class => "checkbox" %>
      </div>
  <% end %>

  <div class="checkbox">
    <%= f.check_box 'accept_optional_email', :class => "checkbox" %>
    <%= f.label 'accept_optional_email',
                "I would like to receive information about similar conferences.", :style => "display:inline", :class => "checkbox" %>
  </div>

</fieldset>