<div class="field passord">
  <%= f.label :password %>
  <br/>
  <%= password_field(:user, :password, :placeholder => "Sshhh. It's a secret.", :size => 50, :required => true) %>
</div>
<div class="field bekreft">
  <%= f.label :password_confirmation, "Confirm password" %>
  <br/>
  <%= password_field(:user, :password_confirmation,
                     :placeholder => "Repeat, please.", :size => 50, :required => true) %>
</div>