<div class="field passord">
  <%= f.label :password %>
  <%= password_field(:user, :password, :placeholder => "Sshhh. It's a secret.", :class => 'input-xlarge', :required => true) %>
</div>
<div class="field bekreft">
  <%= f.label :password_confirmation, "Confirm password" %>
  <%= password_field(:user, :password_confirmation,
                     :placeholder => "Repeat, please.", :class => 'input-xlarge', :required => true) %>
</div>