<div id="price_info">
  <% unless @user.registration.free_ticket %>
      <% if Time.now < AppConfig.early_bird_ends %>
        <p class="lead">You're in time for an early bird special!</p>
        <p>Price: NOK <%= PAYMENT_CONFIG[:prices]['early_bird'].to_i %>,- (excluding VAT).</p>
      <% else %>
          <p>Price: NOK <%= PAYMENT_CONFIG[:prices]['full_price'].to_i %>,- (excluding VAT).</p>
      <% end %>
  <% end %>
</div>
