<div id="price_info">
  <% unless @user.registration.free_ticket %>
      <%= @user.registration.ticket_description %>: NOK <%= @user.registration.ticket_price %>,- (excluding VAT).
  <% end %>
</div>
