<%# TODO: When this partial is used to edit existing user, need
    to check whether user has selected role. Now we always display
    all of them unselected. %>

<div class="control-group">

  <%= f.label :roles, "What role(s) do you have?", :class => "control-label" %>
  <div class="controls">

    <% Roles.all.each do |role| %>
        <label class="checkbox">
          <%= check_box_tag "roles[]", role, @user.roles.include?(role.to_s), :id => "roles_#{role}" %>
          <%= label_tag "roles_#{role}", Roles.label[role] %>
        </label>
    <% end %>
  </div>
</div>
