<fieldset id="user_stats">
  <p class="geeky">
    To better understand our audience, and create a better conference, we hope you will indulge us and provide us with
    some additional information about yourself.
  </p>

  <div class="field">
    <fieldset>
      <label class="radio">
        <%= f.radio_button :female, false%>
        Male
      </label>
      <label class="radio">
        <%= f.radio_button :female, true%>
        Female
      </label>
    </fieldset>
  </div>

  <div class="field">
    <%= f.label :birthyear, "Birth year" %>
    <%= text_field(:user, :birthyear, :placeholder => "When were you born?", :class => 'input-xlarge') %>
  </div>
</fieldset>