<p class="geeky">
  To better understand our audience, and create a better conference, we hope you will indulge us and provide us with
  some additional information about yourself. These will NOT be publicized.
</p>
<div class="radio">
  <label>
    <%= f.radio_button :gender, 'M' %>
    Male
  </label>
</div>
<div class="radio">
  <label>
    <%= f.radio_button :gender, 'F' %>
    Female
  </label>
</div>

<fieldset class="form-group">
  <%= f.label :birthyear, "Birth year" %>
  <%= text_field(:user, :birthyear, placeholder: "When were you born?", class: 'form-control') %>
</fieldset>