<article class="inner">
<% content_for :title %>
<div class="header-join">
<h2>People with dietary requirements</h2>
</div>
<ul>
  <% for user in @users %>

      <li><%= link_to h(user.full_name), user %> (<%= user.registration.ticket_type.reference %>) - <%= user.dietary_requirements %></li>

  <% end %>
</ul>
</article>
