<article class="inner">
  <div class="header-join">
<h2>Participant phone list</h2>
</div>
<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Phone number</th>
  </tr>
  <% for user in @users %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.registration.ticket_type.reference %></td>
        <td><%= user.phone_number %></td>
      </tr>
  <% end %>
</table>
</article>
