<% if admin? %>
  <p>
    <%= link_to "Register abstract for this user", assign_talk_path(@user) %>
  </p>

  <p>
    <%= link_to "Print name tag", nametag_path(@user, :format => 'pdf') %>
  </p>
  <p>
    <% unless @user.bio %>
      <%= link_to "Add user bio", :controller => 'users', :action => 'create_bio', :id => params[:id] %>
    <% end %>
  </p>
<% end %>
