<section class="modal--show" id="<%= talk.id %>" tabindex="-1"
         role="dialog" aria-labelledby="modal-label" aria-hidden="true">

  <div class="modal-inner">
    <header id="modal-label"><%= talk.title %></header>
    <div class="modal-content"><%= talk.description.html_safe %></div>
  </div>

  <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
     data-dismiss="modal">?</a>
</section>
