<div style="border-bottom: 1px solid #eeeeee">
  <p>
    <strong>Date:</strong> <%= event.created_at %> <br/>
    <strong>Created by:</strong> <%= event.user ? event.user.name : 'System' %> <br/>
    <%= simple_format event.comment %>
  </p>
</div>
