<table class="table table-striped">

  <% @stats.each do |status, number_of_sponsors| %>
    <tr>
      <td><%= status %>:</td>
      <td><%= number_of_sponsors %></td>
    </tr>
      <% end if @stats %>
  </table>

  <table class="table table-striped">
    <tr>
      <th>Navn</th>
      <th>Antall partnere</th>
    </tr>

    <% @number_of_sponsors_per_user.each { |row| %>
        <tr>
          <td><%= row[0] %></td>
          <td> <%= row[1] %></td>
        </tr>
    <% } %>
  </table>