<article>
  <div class="header-join">
    <h2>Welcome to Booster <%= Dates::CONFERENCE_YEAR %>!</h2>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    We look forward to seeing you. Any questions? Send them to <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a>
    and we will answer them as soon as we can.
  </p>

  <p>
  <a href="/" class="btn btn-primary">
    Go to front page
  </a>
  </p>

</article>
