<div class="steps col-xs-12">
    <div id="start">Who are you?</div>
    <div id="talk">What's your passion?</div>
    <div id="details">Statistics</div>
	<div id="finish">Summary</div>
</div>

<script>
	$("#<%= active_id %>").addClass("active");
</script>
