<article>
<%= render :partial => 'steps', :locals => {:active_id => "finish" } %>

<h1>Thank you for your contribution!</h1>

<p>
    Your workshop proposal just got now published on the Booster website! Click <%= link_to 'here', current_user_url %> to find it.
</p>

<p><strong>So, what happens next?</strong></p>
<p>
    Your talk will be reviewed by the organizers shortly after
	the CFP ends on <strong><%= Dates::CFP_TUTORIAL_ENDS.to_formatted_s(:long )%></strong>.
</p>

<p>
  Remember to check your inbox!
</p>

<p>Best regards, <br>
The Booster team</p>
</article>


