<%= render :partial => 'steps', :locals => {:active_id => "finish" } %>

<h1>Thank you for your contribution!</h1>

<p>
    Your talk is now published on the website, you can find them <%= link_to 'here', current_user_url %>.
</p>

<h2>What happens next?</h2>
<p>
    Your talk will be reviewed by the Booster committee. You will be contacted by the committee shortly after
	call for workshops ends on <strong><%= Dates::CFP_TUTORIAL_ENDS.to_formatted_s(:long )%></strong>.
</p>


