<article>
<%= render :partial => 'steps', :locals => {:active_id => "talk"} %>
<h2>What's your passion?</h2>

<p>
  You must be prepared to present the workshop in English, as there might be English speaking participants.
</p>

<%= render partial: 'workshop_form', locals: { post_to: '/register_workshop/create_talk' } %>

</article>