<article class="inner">
<%= render :partial => 'steps', :locals => {:active_id => "talk"} %>
<h2>What's your passion?</h2>

<p>
  You must be prepared to present the workshop in English, as there might be English speaking participants.
</p>
<%= form_for @workshop, url: '/register_workshop/create_talk' do |f| %>
	<%= render partial: 'form_fields', locals: { f: f } %>
<%- end %>
</article>
