@import "./fonts";

$enable-flex: true;

$gray-lightest: #F2F2F2;
$gray-lighter: #E5E5E5;

$brand-primary: #BBEBDE;
$brand-success: #E1F28C;
$brand-info: #6F6F6F;
$brand-warning: #36404D;
$brand-danger: #DD9B77;

$link-color: #36404D;

$font-family-sans-serif: 'VAG Rounded';
$headings-font-family: 'Fira Sans';
$headings-font-weight: 800;

html, body {
  height: 100%;
}

.img-superfluid {
  width: 100%;
  height: auto;
  display: block;
}

@import "bootstrap";

@import "./jquery_notification";
@import "common";
@import "quad-list";
@import "rocket";
@import "cta-bar";
@import "main-nav";
@import "sponsors";
@import "frontpage";
@import "main-header";

article {
  p, h1, h2, h3, h4, h5, h6 {
    padding: $spacer-x $spacer-y;
  }
}

.info-index {
  #main-header {
    position: absolute;
    background: none;
  }
}
