@import "./fonts";

$enable-flex: true;

$gray-darky: #36404D;
$gray-lightest: #F2F2F2;
$gray-lighter: #E5E5E5;

$brand-primary: #F29C75;
$brand-success: #E1F28C;
$brand-info: $gray-darky;
$brand-warning: #DD9B77;

$link-color: #36404D;

$font-family-sans-serif: 'VAG Rounded';
$headings-font-family: 'Fira Sans';
$headings-font-weight: 800;

$border-radius: 0;
$btn-border-radius: 2rem;

@import "bootstrap";
@import "font-awesome";

@import "./jquery_notification";
@import "common";
@import "quad-list";
@import "rocket";
@import "cta-bar";
@import "main-nav";
@import "sponsors";
@import "frontpage";
@import "main-header";
@import "speakers";

html, body {
  height: 100%;
}

p, article {
  a {
    text-decoration: underline;
  }
}

.img-superfluid {
  width: 100%;
  height: auto;
  display: block;
}

article {
  p, h1, h2, h3, h4, h5, h6, form {
    padding: $spacer-x $spacer-y;
  }
  ul {
    padding-bottom: $spacer-y;
  }
}

article .btn-group > button {
  outline: 0 !important;
}

.info-index {
  #main-header {
    position: absolute;
    background: none;
  }
}

#main-content > article > * {
  max-width: 900px;
  margin: auto;
}

#notifications {
  padding: $spacer-y $spacer-x 0 $spacer-x;
  .alert:last-child {
    margin-bottom: 0;
  }
}
