@import "./fonts";

$gray-lightest: #F2F2F2;

$brand-primary: #BBEBDE;
$brand-success: #E1F28C;
$brand-info: #6F6F6F;
$brand-warning: #36404D;
$brand-danger: #DD9B77;

$link-color: #36404D;

$font-family-sans-serif: 'VAG Rounded';
$headings-font-family: 'Fira Sans';
$headings-font-weight: 800;

@import "bootstrap";

@import "./jquery_notification";
@import "rocket";
@import "main-nav";
@import "sponsors";

.full-image {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    height: auto;
    width: 100%;
}

.frontpage-element {
    background: $gray-lightest;

    &:nth-child(2n) {
	background: pink;
    }
}

.frontpage-element-body {
    padding: 35px 30px 20px 30px;
}

.frontpage-element-body-headline {
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}
