$primary-color: #1790a0;
$highlight-color: #F6AB6F;
$light-neutral: #d3d1cb;
$lighter-neutral: #e2e0d9;
$dark-neutral: #757470;

$gray-dark: #2E3E4D;
$gray-lightest: #F2F2F2;
$gray-lighter: #E5E5E5;

/* ======== New design colors ======== */
$eden: #0E3E4D;
$background-white: #F2F2F2;
$button-color: #DD9B77;
$brand-primary: #A5ECDE;
$button-hover-color: #d6875c;
$button-buy-color: #D56657;
$button-buy-hover-color: #c74432;
/* =================================== */

$brand-success: #E1F28C;
$brand-info: $gray-dark;
$brand-warning: #DD9B77;

$link-color: #36404D;

$text-color: $eden;
$text-color-negative: #ffffff;
