.calltoaction {
  margin: 0 auto;
  font-family: $font-family-firasans-medium;
  z-index: 999;
  padding: 57px 0 40px;
  background-color: $gray-lightest;
  text-align: center;


  p {
    color:$primary-text-color;
    font-size: 34px;
  }

  #speakerInfo{
    margin-top: 40px;
    p, a{
      font-size: 20px;
    }

    a{
      text-decoration: underline;
    }
  }
}

.calltoaction .early-bird-text {
  padding: 4px;
  color: black;
  font-size: 20px;
  border-bottom: 2px solid $button-color;

  #bold-span{
    font-weight: bold;
  }
}

.calltoaction #buyaticket {
  font-size: 24px;
  border-radius: 40px;
  border: 0;
  margin-left: 41px;
  padding: 15px 95px;
  background-color: $button-buy-color;
  border-color: $button-buy-color;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    background-color: $button-buy-hover-color;
    border-color: $button-buy-hover-color;
  }

  &:active:focus {
    background-color: $button-buy-hover-color;
    border-color: $button-buy-hover-color;
  }

  &:focus {
    background-color: $button-buy-hover-color;
    border-color: $button-buy-hover-color;
  }
}

@media (max-width: 544px) {
  .calltoaction {
    padding: 37px 0 45px;

    p {
      color:$primary-text-color;
      font-size: 25px;
    }
  }

  .calltoaction #buyaticket {
    font-size: 20px;
    margin-left: 0px;
    padding: 5px 75px;
  }

  .calltoaction .early-bird-text {
    font-size: 15px;

    #bold-span{
      display: block;
    }
  }
}
