.calltoaction {
  margin: 0 auto;
  z-index: 999;
  padding: 10px 0;
  background-color: $gray-lightest;
  color: white;
  text-align: center;
  font-size: 18px;
}

.calltoaction span {
  padding: 4px 25px;
  color: black;
}

.calltoaction p {
  color:#0E3E4D;
}

.calltoaction #buyaticket {
  border-radius: 40px;
  border: 0;
  margin: 5px 20px;
  padding: 4px 25px;
  background-color: $button-color;
}