/*
Title: Booster Conference boosterconf.no
Author: elisabethirgens.no
*/
/* ==================== reset from stuffandnonsense.co.uk/projects/320andup ==================== */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, footer, header, hgroup, menu, nav, section, 
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
article, aside, figure, footer, header, hgroup, nav, section {
   display: block;
}



/* ==================== main structure ==================== */

html {
   background: #F2F0E6;
}

body {
   width: 100%;
}

.inner {
   margin: 0 auto;
   width: 90%;
}

nav {
   background-color: rgba(0,0,0,0.09);
}

header {
   background-color: #1790A0;
}

#content {	                       
   padding-top: 2em;
   margin-bottom: 2em;
}

.sponsorarea {
   background-color: #fff;
   border-top: 2px solid #D3D1CB;
   border-bottom: 2px solid #D3D1CB;
   padding: 2em 0 1em 0;
}

footer {
   border-bottom: 50px solid #D3D1CB;
   padding-top: 3em;
}

p, 
ul, 
ol {
   font-size: 1em;
   margin-bottom: 1em;
}

ul {
   list-style-position: inside;
}

strong {
   font-family: "Siri Core Bold", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif; 
   font-weight: bold; 
}

a:link, 
a:visited {
	text-decoration: none;
   color: #1790a0;
}

a:hover {
   color: #006F77;
}

a:active, 
a:focus { 
   position : relative; 
   top : 1px; 
}

.whenandwhere, 
.tagline {
   color: #fff;
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-size: 1em;
   font-weight: normal;
   line-height: 1.2;
   text-transform: uppercase;  
}

.hello p {
   line-height: 1.4;
   margin: 0 auto 0.5em auto;
   max-width: 30em;
   text-align: center;
}

.hello h1 {
   color: #6D6C69; 
   text-align: center;
}

.hello h2 {
   text-align: center;
}

.hello div {
   text-align: center;
   margin-bottom: 20px;
}

.videosintro p {
   line-height: 1.2;
   margin-bottom: 0.5em;
}

.videosintro h1 {
   line-height: 1;
}

.keynoteintro {
   color: #51504E;
   font-size: 0.875em;
   line-height: 1.4;
}

.keynotespeaker {
   color: #1790A0; 
   font-family: "Siri Core Bold", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif; 
   font-weight: bold; 
   margin-bottom: 0.5em;
}

.keynotespeaker span {
   color: #58B8BF;
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-weight: normal;
   text-transform: uppercase;
}

.keynotetitle {
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-weight: normal;  
}

.keynotefirst h2.keynotetitle {
   margin-bottom: 0.15em;
}

.keynotefirst h3.keynotetitle {
   margin-bottom: 0.5em;
}

.tenminutestitle {
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-weight: normal;
   margin-bottom: 1em;
   text-align: center;
}

.speaker {
   border-bottom: 1px solid #D3D1CB;
   color: #1790A0; 
   display: inline-block; /* to make the border same length as text */
   font-family: "Siri Core Bold", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif; 
   font-weight: bold; 
   line-height: 1.2;
   margin-bottom: 3px;
   padding: 0 5px 5px 5px;
}

.talk {
   color: #51504E; 
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-size: 1em;
   font-weight: normal;
   line-height: 1.2;
}   

.contacttitle {
   color: #8C8A88;              /* contrast ratio 3.0 = AA for large text */    
   font-size: 1em;
   margin-bottom: 1em;
   text-indent: 1.5em;
}

.sponsortitle {
   color: #969593;              /* contrast ratio 3.0 = AA for large text */ 
   font-size: 1em;
   margin-bottom: 1em;
   text-indent: 1.5em;
}

.beammeup {
   background-color: #D3D1CB; 
   border-radius: 8px 8px 0px 0px;
   margin-bottom: 0;
   max-width: 10.5em;
   padding: 0.25em 1.5em 0.25em 1.5em;
}
 
.beammeup a {
   color: #8D8B87;
}  

.beammeup:hover {
   background-color: #BCBAB4; 
}    
   
   
/* ==================== other general styles for the whole page ==================== */

img {
   max-width: 100%;
}

a.btn {
    background-color: #1790A0;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 1px 2px 0 #A4A39E;
    color: #FFFFFF;
    display: inline-block;
    line-height: 38px;
    margin: 5px auto;
    padding: 2px 1.5em;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s ease-in 0s;
    white-space: nowrap;
}



/* ==================== header#top ==================== */

.logo {
   float: left;
   margin-bottom: 0;
   margin-left: -5px;
   max-width: 300px; 
}

#meta {
   float: left;
   max-width: 100%;
   padding-bottom: 0.5em;
}

.whenandwhere {
   margin-bottom: 0.1em;
}

.tagline {
   margin-bottom: 0;
}

.mainnav {
   float: right;
   list-style-type: none;
   margin: 0.5em 0;
}

.mainnav li {
   float: left;
   margin: 0 0.5em;
}

.mainnav a {
   color: #fff;
}

.mainnav a:hover {
   border-bottom: 2px solid #F2F0E6;
   padding-bottom: 2px;
   color: #fff;
   text-decoration: none;
}




/* ==================== div#content ==================== */

.hello {
   margin-bottom: 0;
}

.videosintro {
   border-top: 8px solid #F6AB6F;
   margin: 0 auto 2em auto;
   padding-top: 1em;   
   text-align: center;
}

.videosthatarelong {
   list-style-type: none;  
   margin-bottom: 1.5em;
}

.keynotelink {
   background-color: #fff;
   border: 2px solid #D3D1CB;
   border-radius: 3px;
   display: block;
   padding: 1em;
}

.keynotelink:hover {
   border: 2px solid #A4A39E; 
   transition: border 0.1s ease-in 0s;  
}

.keynotelink:focus {
   border: 2px solid #A4A39E;
   outline: none;   
}

li.keynotefirst {
   margin-bottom: 1em;
}

li.keynotesecond {

}

.videosthatareshort {
   list-style-type: none;
}

.videosthatareshort li a {
   display: block;
   padding: 0.5em 1em 1em 1em;   
   text-align: center;
}

.videosthatareshort li a:hover {
   background-color: #fff;
   transition: background 0.2s ease-in 0s;
}

.videosthatareshort li a:focus {
   background-color: #fff;
   outline: none;
}

.sponsorlogos {
   list-style-type: none;
}

.sponsorlogos li {
   float: left;
   width: 33%;
}

.sponsorlogos li a {
   display: block;
   padding: 0 1em;
   text-align: center;
}


/* ==================== footer#bottom ==================== */


.contactbuttons {
   list-style-type: none;
   margin: 0  0 2em 0;
}

#btntwitter {
   
}

#btntwitter:hover {
   background-color: #0A6A7C;
}

#btnfacebook {
   background-color: #58B8BF;
}

#btnfacebook:hover {
   background-color: #3599A2;
}

#btnlanyrd {
   background-color: #ABCD75;
}

#btnlanyrd:hover {
   background-color: #89B54F;
}



/* ==================== media queries ==================== */

@media screen and (max-width: 700px) {

h1 {

}

h2 {

}

h3 {

}

} /* end this media query */




@media screen and (min-width: 500px) {

.videosintro {
   width: 75%;
}

.videosthatareshort li {
   width: 50%;
   float: left;
}

.videosthatareshort li a {
   height: 85px;  
}

footer .inner {
   background: url(/assets/bg-footer-2people.png) no-repeat 18em bottom;
}

} /* end this media query */




@media screen and (min-width: 700px) {

#meta {
   float: left;
   padding-top: 3em;
   padding-left: 1em;
   padding-bottom: 1em;
}

.hello h1 {
   font-size: 3.5em;
   line-height: 1.1;
}

.keynotelink {
   min-height: 230px;  /* to make the two boxes exactly equal when they are almost equal */
   padding: 1em 1.25em 0.5em 1.5em; /* gief moar space at this width */
}

li.keynotefirst {
   width: 48%;
   float: left;
   margin-right: 4%;
}

li.keynotesecond {
   width: 48%;
   float: left;
}

.videosthatareshort li {
   width: 33%;
   float: left;
}

.videosthatareshort li a {
   height: 90px;  
}

.sponsorlogos li {
   width:20%;
   float: left;
   height: 80px;
}

} /* end this media query */



@media screen and (min-width: 800px) {

.hello {
   background: url(/assets/bg-videosarea.png) no-repeat right bottom;
}

.videosarea {
   background: url(/assets/bg-hello.png) no-repeat 1em 1em;
}


footer .inner {
   background: url(/assets/bg-footer-5people.png) no-repeat 18em bottom;
}

} /* end this media query */



@media screen and (min-width: 1000px) {

.hello h1 {
   font-size: 4.25em;
   line-height: 1.1;
}

footer .inner {
   background: url(/assets/bg-footer-8people.png) no-repeat 18em bottom;
}

} /* end this media query */



@media screen and (min-width: 1120px) {

.inner {
   width: 70em;                /* 1120px */
}

#meta {
   float: right;
   text-align: right;
}

.videosthatareshort li {
   width: 20%;
   float: left;
}

.videosthatareshort li a {
   height: 95px;  
}

.sponsorarea {
   background: #fff url(/assets/bg-sponsorarea.png) no-repeat top center;
}

.sponsorarea .inner {
   background-color: #fff;
}

} /* end this media query */





/* ==================== self-clear floats from handcraftedcss.com ==================== */

.group:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}



/* ==================== all done, go away now ==================== */

