.full-image {
  padding-left: 0;
  padding-right: 0;
}

.img-responsive {
  height: auto;
  width: 100%;
}

.frontpage-element {
  position: relative;
  background: $gray-lightest;

  &:nth-child(2n) {
    @include media-breakpoint-up(lg) {
      .frontpage-element-header {
	@include make-col-push(6);
      }
      .frontpage-element-body {
	@include make-col-pull(6);
      }
    }
  }
}

.frontpage-element-body {
  padding: 35px 30px 20px 30px;
}

.frontpage-element-body-headline {
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}

.imagetron {
  position: relative;
  text-align: center;
}

.imagetron-bg {
  background-position: center center;
  background-repeat: no-repeat;

  & > img {
    height: 100%;
    width: auto;
    opacity: 0;
  }
}

.imagetron-text-over-background {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 30px;
    
  h2, p {
    color: white;
  }
}

.imagetron {
  padding-right: 0;
  padding-left: 0;
}

.minor-block {
  position: relative;

  .lead {
    margin: 0;
  }

  &:nth-child(2n-1) {
    background: $gray-lightest;
  }
}

.minor-block-img {
  @include clearfix;
  padding: 0;
}

.minor-block-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.minor-block-body-inner {
}

footer .jumbotron {
  background: linear-gradient(#EFF9CF, #BBEBDE);
  position: relative;

  #footer-image {
    height: auto;
    width: 100%;
  }

  #footer-text {
    position: absolute;
    left:0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-family: $font-family-sans-serif;
    text-transform: none;

    @include media-breakpoint-up(xs) {
      top: 38%;
      font-size: 10px;
    }

    @include media-breakpoint-up(sm) {
      font-size: 18px;
      top: 40%;
    }

    @include media-breakpoint-up(md) {
      font-size: 24px;
      top: 41%;
    }

    @include media-breakpoint-up(lg) {
      top: 43%;
      font-size: 28px;
    }
    @include media-breakpoint-up(xl) {
      top: 43%;
      font-size: 34px;
    }

  }

  .centered-text {
    text-align: center;

    a {
      text-decoration: underline;
    }
  }
}

