.kids_register {
    background-color: #F29C75;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    border-radius: 5px;

}

.kids_register a {
  color: white;
  text-decoration: none;
  width:100%;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center;
}

.kids .row {
  padding-bottom: 2rem;
}

.kids_register, .kids_target {
  margin-left: 1rem;
  margin-right: 1rem;
}

.kids_target {
    font-style: italic;
    font-weight: bold;
    padding-bottom: 1rem;
}

.kids .row img {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 10px;
}

.bold {
  font-weight: bold;
}
