.main-nav {
  width: calc(100%);
  padding: 1.0rem 1.5rem;
  z-index: 10;
  color: $text-color;

  .pull-xs-right {
    float: right;
  }
  .nav {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(xs) {
    [class^="navbar-toggleable"] {
      width: 100%;
    }

    .navbar-nav {
      background: white;
      clear: both;
    }

    .nav-item {
      width: 100%;
      float: none;
      margin-left: 0 !important;
      padding: 0 $spacer-x;
      & + .nav-item {
        border-top: 1px solid $gray-lightest;
      }
    }

  }

  a {
    color: $text-color;
    padding-left: 2px;
    padding-right: 2px;
  }

  .nav-link {
    line-height: 40px;
    font-size: 20px;
    font-family: $font-family-firasans-regular;
  }

  .navbar-brand img {
    width: 170px;
    margin-top: -15px;

    @include media-breakpoint-up(md) {
      width: 270px;
      margin-right: 20px;
      margin-left: -20px;
    }
  }
}

@media (min-width: 544px) {
  li.nav-item.current {
    font-weight: bold;
    border-bottom: 3px solid $button-color;

    > a {
      padding-bottom: 0;
    }
  }
}
@media (max-width: 543px) {
  li.nav-item.current {
    background-color: $button-color;
  }
}

