#main-header {
  width: 100%;
  background-color: $brand-primary;

  & > * {
    max-width: 900px;
    margin: auto;
  }
}

.header-join {
  max-width: 100% !important;
  background: $eden;
  margin-bottom: $spacer-y;
  & > * {
    max-width: 900px;
    margin: auto;
  }

  h2 {
    padding-top: $spacer-y;
    padding-bottom: $spacer-y;
    color: white;
    font-family: $font-family-firasans-light;
  }
}
