/* START PROGRAM */

.program {
  margin: 20px auto;
  width:  680px;
}

.program table {
  width: 100%;
}

.program th {
  background-color: #D3D1CB;
  font-size: 1.2em;
  line-height: 1;
  padding: 20px;
  text-align: left;
}

.program td {
  padding: 20px; 
  font-size: 1.1em;
}

.program .time {
  width: 25%;
}

.program .what {
  width: 75%;
}

.program .location {
  width: 10em;
}

.program .meta {
  font-style: italic;
  font-size: 0.9em;
  display: block;
}

.program .odd {
  background-color: #F2F0E6; 
}

.program .even {
  background-color: #F9F7EF;
}

.program .title {
  font-weight: bold;
}

.program .author {
  font-style: italic;
}

.program ul {
  list-style: none;
  margin: 0;
}

.program ul .location {
  background-color: #D3D1CB;
}

@media screen and (max-width: 700px) {
  .program {
    margin: 10px auto;
    width: 460px;
  }
}

@media screen and (max-width: 480px) {
  .program {
    margin: 5px auto;
    width: 320px;
  }
}