/* START PROGRAM */
$primary-color: #1790a0;
$highlight-color: #F6AB6F;
$light-neutral: #d3d1cb;
$lighter-neutral: #e2e0d9;
$dark-neutral: #757470;
$text-color: #51504e;
$text-color-negative: #ffffff;

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
}

.program {
  margin: 10px 0 0 0;

  .nav-tabs li a {
    background-color: transparent;
    color: $text-color;
  }

  .nav-tabs li.active a {
    background-color: $light-neutral;
  }


  .nav-tabs li a:hover {
    background-color: $highlight-color;
  }

  .program-row {
    margin-bottom: 15px;

  }

  .period {
    background-color: $light-neutral;

    header {
      background-color: $primary-color;
      color: $text-color-negative;
      padding: 3px 5px;
    }

    .location {
      text-align: right;
      background-color: $primary-color;
      color: $text-color-negative;
      display: inline-block;
    }

    header.time {
      border-bottom: none;
      color: $dark-neutral;
      background-color: #f2f0e6;
      font-weight: bold;
      font-size: 18px;
      padding: 5px;
    }

    .slot {
      line-height: 1.2em;

      .talk {
        font-size: 14px;
        padding: 5px 10px 5px 10px;
        font-weight: normal;
        display: block;

        .author {
          color: $text-color;
        }

        .description {
          display: none;
          padding: 5px 0;
          color: $text-color;

          p {
            margin-bottom: 10px;
          }
        }
      }
    }

    .plenary-type {
      padding: 5px 10px 5px 10px;
    }
  }

  header.break, header.break .location {
    background-color: $light-neutral;
    color: $text-color;
  }

  header.break, header.openspace {
    padding: 6px 5px;
  }

  h2 {
    font-size: 140%;
  }

  h3, h4, h5 {
    font-family: "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif; // This overrides the bold
    font-weight: normal;
    color: $text-color;
  }

  .program-column h3 {
    line-height: 1;
  }

  .lightning-talk h3 {
    line-height: 1;
  }

  .lightning-talk-slot .talk {
    border-bottom: 2px dotted $dark-neutral;;
  }

  .lightning-talk-slot .talk:last-child {
    border-bottom: none;
  }

  .slot a, section.period a {
    color: $dark-neutral;
  }
}

@media (min-width: 979px) {

  header.time {
    background-color: transparent;
  }

  .talk:hover {
    cursor: pointer;
    background-color: $lighter-neutral;
  }

  .program-column {
    width: 200px;
    float: left;
    margin-left: 10px;
  }

  .lightning-sections {
    @include flexbox;
  }

  .workshop-slot {
    @include flexbox;
  }

  .lightning-talk header {
    font-size: 110%;
  }

  .lightning-talk-slot .author, .plenary-type .author {
    font-size: larger;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: block;
  }

  .program-column .talk {
    min-height: 150px;
  }

  .lightning-talk {
    width: 400px;
    float: left;
    margin-left: 30px;
  }

  .lightning-talk:first-of-type {
    margin-left: 0;
  }

  .location-small {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 978px) {

  .location-small {
    display: block;
  }

  .program-column:first-of-type, .program-column-8:first-of-type {
    margin-left: 0;
  }

  .program-column header, .program-column-8 header {
    display: none;
  }

  .program header.time {
    display: block;
    padding: 5px;
    background-color: $primary-color;
    color: $text-color-negative;
    margin: 0;
  }

  .workshop-slot section {
    border-bottom: 2px dotted $dark-neutral;
  }

  .workshop-slot section:last-child {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .program {
    a {
      text-decoration: none;
    }
  }

  .location-small {
    display: block;
  }

  .program-column:first-of-type, .program-column-8:first-of-type {
    margin-left: 0;
  }

  .program header.time {
    border-bottom: 3px solid $highlight-color;
  }

  .program-column header {
    display: none;
  }

  .program header.time {
    display: block;
    padding: 5px;
    background-color: $primary-color;
    color: $text-color-negative;
    margin: 0;
  }

  .workshop-slot section {
    border-bottom: 2px dotted $dark-neutral;
  }

  .workshop-slot section:last-child {
    border-bottom: none;
  }

  .talk:hover {
  }

  .follow-me {
    padding: 10px 20px;
    position: relative;
    z-index: 3;
  }

  .follow-me.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }

  .follow-me.fixed.absolute {
    position: absolute;
    z-index: 2;
  }

}

/* END PROGRAM */