/* START PROGRAM */

.program {
  margin-top: 10px;
}

.program .program-row {
  margin-bottom: 15px;
}

.program .period {
  background-color: #d3d1cb;
}

.program header.time {
  display: none;
}

.program .period header {
  background-color: #1790a0;
  color: #fff;
  padding: 3px 5px;
}

.program .period header .location, .location span {
  text-align: right;
  background-color: #1790a0;
  color: #fff;
  display: inline-block;
}

header .location {
  float: right;
}

.program .period .slot {
  line-height: 1.2em;
}

.program .period .pause {
  padding: 10px;
}

.program .period .slot .talk {
  font-size: 14px;
  padding: 10px;
}

.program .period .slot .talk:hover {
  cursor: pointer;
  background-color: #e2e0d9;
}

.program h3 {
  font-weight: bold;
  color: #6D6C69;
}

.program .period .slot .talk {
  font-weight: normal;
  display: block;
}

.author {
  font-style: italic;
}

.program .period .slot .talk .description {
  display: none;
  padding: 5px 0px;
  color: black;
}

.program .period .slot .talk .description p {
  margin-bottom: 10px;
}

.program-column h3 {
  line-height: 1;
}

.lightning-talk h3 {
  line-height: 1;
}

.lightning-talk-slot .talk {
  border-bottom: 2px dotted #6D6C69;;
}

.lightning-talk-slot .talk:last-child {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .program-column {
    width: 158px;
    float: left;
    margin-left: 10px;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: block;
  }

  .program-column .talk {
    min-height: 150px;
  }

  .lightning-talk {
    width: 370px;
    float: left;
    margin-left: 30px;
  }

  .lightning-talk:first-of-type {
    margin-left: 0;
  }

  .location-small {
    display:none;
  }
}

@media (min-width: 979px) and (max-width: 1199px) {
  .program-column {
    width: 125px;
    float: left;
    margin-left: 10px;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: block;
  }

  .lightning-talk {
    width: 293px;
    float: left;
    margin-left: 30px;
  }

  .lightning-talk:first-of-type {
    margin-left: 0;
  }

  .location-small {
    display:none;
  }

  .lightning-talk-slot .talk {
    border-bottom: 2px dotted #6D6C69;;
  }

  .lightning-talk-slot .talk:last-child {
    border-bottom: none;
  }
}

@media (min-width: 768px) and (max-width: 978px) {

  .location-small {
    display:block;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: none;
  }

  .program header.time {
    display: block;
    text-align: left;
    padding: 0px 5px;
    background-color: #1790a0;
    color: #fff;
    margin: 0;
  }

  .workshop-slot section {
    border-bottom: 2px dotted #6D6C69;;
  }

  .workshop-slot section:last-child {
    border-bottom: none;
  }
}

@media (max-width: 767px) {
  .location-small {
    display:block;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: none;
  }

  .program header.time {
    display: block;
    text-align: right;
    padding: 0px 5px;
    background-color: #1790a0;
    color: #fff;
    margin: 0;
  }

  .workshop-slot section {
    border-bottom: 2px dotted #6D6C69;;
  }

  .workshop-slot section:last-child {
    border-bottom: none;
  }

}
/* END PROGRAM */