@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
}

.program {
  max-width: 1200px;
  margin: auto;

  .author {
    font-size: 14px !important;
  }

  .volunteer {
    font-size: 12px !important;
  }

  header.time {
    padding: $spacer-x $spacer-y;
  }

  .nav-tabs li a {
    background-color: transparent;
    color: $text-color;
  }

  .nav-tabs li.active a {
    background-color: $light-neutral;
  }


  .nav-tabs li a:hover {
    background-color: $highlight-color;
  }

  .program-row {
  }

  .lightning-talk-slot .single-talk {
    .talk {
      background-color: $gray-lightest;
    }
    
    &:nth-child(2n) {
      .talk {
        background-color: $gray-lighter;
      }
    }
  }

  .workshop-slot .period {
    background-color: $gray-lightest;

    &:nth-child(2n) {
      background-color: $gray-lighter;
    }
  }

  .period {
    header {
      background-color: $gray-dark;
      color: $text-color-negative;
      padding: 3px 5px;
    }

    .location {
      text-align: right;
      color: $text-color-negative;
      display: inline-block;
    }

    header.time {
      border-bottom: none;
      color: $dark-neutral;
      background-color: #f2f0e6;
      font-weight: bold;
      font-size: 18px;
      padding: 5px;
    }

    .slot {
      line-height: 1.2em;

      .talk {
        font-size: 14px;
        padding: $spacer-x $spacer-y;
        font-weight: normal;
        display: block;

        .author {
          color: $text-color;
          font-style: italic;
        }

        .description {
          display: none;
          padding: 5px 0;
          color: $text-color;

          p {
            margin-bottom: 10px;
          }
        }
      }
    }

    .plenary-type {
      padding: 5px 10px 5px 10px;
    }
  }

  header.break, header.break .location {
    background-color: $brand-primary;
    color: $text-color;
  }

  .period > header {
    padding: $spacer-x $spacer-y;
  }

  h2 {
    padding: $spacer-y $spacer-x $spacer-y $spacer-x;
    margin-bottom: 0;
  }

  h3, h4, h5 {
    font-family: "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif; // This overrides the bold
    font-weight: bold;
    font-size: 14px;
    text-transform: none;
    font-style: normal;
    color: $text-color;
    margin-bottom: 2px;
  }

  .program-column h3 {
    line-height: 1;
  }

  .lightning-talk h3 {
    line-height: 1;
  }

  .slot a, section.period a {
    color: $dark-neutral;
  }

  .follow-me {
    padding: $spacer-x $spacer-y;
    background: $gray-dark;
    color: white;
  }

  .location-small {
    margin-top: 7px;
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 13px;
  }

  .follow-wrapper .time {
    padding: $spacer-x $spacer-y;
  }

  .lightning-talk.period header {
    background-color: $brand-primary;

    & .location {
      color: $gray-dark;
    }
  }
}

@media (min-width: 1200px) {

  .follow-wrapper {
    margin-bottom: $spacer-y;
  }

  .break {
    margin-top: $spacer-y;
  }

  header.time {
    background-color: transparent;
  }

  .talk:hover {
    cursor: pointer;
    background-color: $lighter-neutral;
  }

  .program-column {
    width: 400px;
    float: left;
    margin-left: 10px;
  }

  .lightning-sections {
    @include flexbox;
  }

  .workshop-slot {
    @include flexbox;
  }

  .lightning-talk header {
    font-size: 110%;
  }

  .lightning-talk-slot .author, .plenary-type .author {
    font-size: larger;
  }

  .program-column:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: block;
  }

  .program-column .talk {
    min-height: 100px;
  }

  .lightning-talk {
    width: 400px;
    float: left;
    margin-left: 30px;
  }

  .lightning-talk:first-of-type {
    margin-left: 0;
  }

  .location-small {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 978px) {

  .location-small {
    display: block;
  }

  .program-column:first-of-type, .program-column-8:first-of-type {
    margin-left: 0;
  }

  .program-column header, .program-column-8 header {
    display: none;
  }

  .program header.time {
    display: block;
    padding: 5px;
    background-color: $gray-dark;
    color: $text-color-negative;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .program {
    a {
      text-decoration: none;
    }
  }

  .location-small {
    display: block;
  }

  .program-column:first-of-type, .program-column-8:first-of-type {
    margin-left: 0;
  }

  .program-column header {
    display: none;
  }

  .program header.time {
    display: block;
    background-color: $gray-dark;
    color: $text-color-negative;
    margin: 0;
  }

  .talk:hover {
  }

  .follow-me.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
  }

  .follow-me.fixed.absolute {
    position: absolute;
    z-index: 2;
  }

  .program .follow-wrapper {
    margin-bottom: 0;
  }
}
