.rocket {
  height: 600px;
  position:relative;
  background: -webkit-linear-gradient(#EFF9CF, #BBEBDE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EFF9CF, #BBEBDE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EFF9CF, #BBEBDE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EFF9CF, #BBEBDE); /* Standard syntax */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  .middle-of-image {
    font-size: 40px;
    margin: 0 auto;

    .font-page-conference-dates {
      margin-right: 40px;
    }

    .rocket-image {
      height: 420px;
      bottom: -110px;
      position: relative;
    }

    .front-page-location {
      margin-left: 40px;
    }

  }

  .smoke-image {
    position:absolute;
    /* Changed this to 0, from -10%, to prevent the smoke to hide the call to action bar.*/
    bottom: 0;
    /*bottom: -10%;*/
    left: -18.5%;
    width: 130%;
  }

}
