.rocket {
  height: 80%;
  min-height: 300px;
  max-height: 400px;
  position: relative;
  background-color: $gray-dark;
  background-image: image-url("supersonic.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 100px;

  @include media-breakpoint-up(md) {
      min-height: 620px;
      max-height: 800px;
  }

  .middle-of-image {
      max-width: 900px;
      margin: auto;      

      position: relative;
      top: 50%;
      transform: translateY(-50%);

      width: 70%;
      color: white;

      h1 {
	  font-size: 25px;
      }

      @include media-breakpoint-up(md) {
	  h1 {
	      font-size: 42px;
	  }
      }

      .dates-location {
	  margin-top: 50px;

	  span {
	      display: block;
	      font-size: 14px;
	      letter-spacing: 1px;
	      text-transform: uppercase;
	      font-weight: 600;
	  }
      }
  }
}
