.rocket {
  height: 80%;
  max-height: 400px;
  position:relative;
  background: linear-gradient(#EFF9CF, #BBEBDE); /* Standard syntax */
  display: flex;
  flex-direction: column;

  background: image-url("icons/smoke.svg") bottom center/1000px no-repeat, linear-gradient(#EFF9CF, #BBEBDE);

  @include media-breakpoint-up(md) {
    max-height: 800px;
    background: image-url("icons/smoke.svg") bottom center no-repeat, linear-gradient(#EFF9CF, #BBEBDE);
  }

  .middle-of-image {
    width: 100%;
    position: absolute;
    bottom: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 15px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      bottom: 270px;
      font-size: 45px;
    }

    .font-page-conference-dates {
      margin-right: 20px;
    }

    .rocket-image {
      width: 45px;
      height: 350px;
      bottom: -65px;
      position: relative;

      @include media-breakpoint-up(md) {
	width: 100px;
	bottom: -115px;
      }
    }

    .front-page-location {
      margin-left: 20px;
    }

  }

  .smoke-image {
    position:absolute;
    /* Changed this to 0, from -10%, to prevent the smoke to hide the call to action bar.*/
    bottom: 0;
    /*bottom: -10%;*/
    left: -18.5%;
    width: 130%;
  }

}
