.speakers-body {

  width: 80%;

  .speaker{
    background-color: #F2F2F2;
    width: 100%;
    display: inline-block;
    display: -webkit-flex;
    display: flex;

    &.odd{
      background-color: #E6E6E6;
    }

    .left {
      width: 30%;

      .speaker-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
      }

    }

    .right {
      width: 70%;

      .speaker-header {
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 20px;

        .speaker-name{
          font-family: 'Fira Sans';
          font-size: 20px;
        }
      }

      p{
        padding-bottom: 0px;
        padding-top: 0px;
      }
    }

  }

}
