/* Siri is written twice in font-family because
   boosterconf.no gets Siri from fontdeck = "Siri Core Regular" or "Siri Core Bold"*/

body {
   color: #51504E;          /* contrast ratio 7.1 = AAA for large text */
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-size: 100%;
   font-style: normal;
   line-height: 1.6;
   background-color: #f2f0e6;
   padding: 0;
}

input, button, select, textarea, .ui-widget, div {
  font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
   font-family: "Siri Core Bold", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-weight: bold;
   line-height: 1.1;
   text-rendering: optimizeLegibility;
}

/* To select the proper type face, all tags that uses font-weight bold must be listed in this selector list. */
strong, th, b, .program .title {
   font-family: "Siri Core Bold", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-weight: bold;
}

h1 {
   color: #1790A0;
   font-size: 2.5em;
   margin-bottom: 0.38em;
}

.high {
  padding-top: 30px;
}

.wide{
  margin: 0 20px 20px 20px;
  padding: 0 40px;
}

h2 {
   color: #6D6C69;            /* contrast ratio 4.6 = AAA for large text */
   font-size: 2em;
   margin-bottom: 0.38em;
}

h3 {
   color: #6D6C69;            /* contrast ratio 4.6 = AAA for large text */
   font-size: 1.5em;
   margin-bottom: 0.236em;
}

header {
   background-color: #1790A0;
}

a.a-bit-bigger {
    font-size: larger;
}

hr {
    border-top: 1px solid #DBD9D2;
    border-bottom: 1px solid #DBD9D2;
}

article {
  max-width: 55em;
}

.navbar {
  background-color: transparent;
}

.navbar .navbar-inner {
  border: none;
  color: #fff;
  text-shadow: none;
  background-color: transparent;
  background-image: none;
}

.navbar .btn-navbar,
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #1790A0;
  background-image: none;
}
.navbar .btn-navbar:focus {
  outline: none;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  color: #1790A0;
  background-color: #fff;
}

nav {
   background-color: rgba(0,0,0,0.09);
}

.nav a {
   color: #fff;
   border-bottom: 2px solid transparent;
}

.navbar .nav > li > a {
  text-shadow: none;
  color: #fff;
}

.navbar .nav > li > a:hover {
   color: #fff;
   background-color: #1790A0;
   text-decoration: none;
}

/* ==================== header#top ==================== */

.logo {
   float: left;
   margin-bottom: 0;
   margin-left: -5px;
   max-width: 300px;
}

#meta {
   float: right;
   text-align: right;
   padding-top: 3em;
   padding-left: 1em;
   padding-bottom: 1em;
}

.whenandwhere {
   margin-bottom: 0.1em;
}

.tagline {
   margin-bottom: 0;
}

.whenandwhere,
.tagline {
   color: #fff;
   font-family: "Siri Core Regular", "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Verdana, sans-serif;
   font-size: 1em;
   font-weight: normal;
   line-height: 1.2;
   text-transform: uppercase;
}

.masthead {
    color: white;
    margin-top: 20px;
    padding-top: 20px;
}

.masthead h1 {
    color: white;
    font-size: 60px;
}

.masthead p {
    font-size: 20px;
    line-height: 40px;
}

a {
    color: #1790a0;
}

a:hover {
    color: #1790a0;
}

a.action {
    color: #c9090b;
    font-size: small;
}

/* jquery-ui overrides */
.ui-widget-content {
  background: #f2f0e6;
}

.ui-widget-header {
  border: 1px solid #4297d7;
  background: #1790A0;
  color: #ffffff;
  font-weight: bold;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #1790A0;
  background: #f2f0e6 url(images/ui-bg_flat_80_f2f0e6_40x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #6D6C69;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #6D6C69;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #79b7e7;
  background: #f2f0e6 url(images/ui-bg_glass_100_f2f0e6_1x400.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #6D6C69;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #6D6C69;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #79b7e7;
  background: #f2f0e6 url(images/ui-bg_inset-hard_80_f2f0e6_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #51504E;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #51504E;
  text-decoration: none;
}

#submittalk a, #registration a {
    text-transform: uppercase;
    color: #fff;
}

#submittalk, #registration {
    background-color: #9fd07e;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    margin-bottom: 6px;
    font-size: 190%;
    text-align: center;
    padding-top: 8px;
}

#submittalk a:hover, #registration a:hover {
    text-decoration: none;
    background-color: #9fd07e;
}

.person {
    float: left;
    margin: 10px;
}

.scale-down img {
    height: 180px;
    max-width: 152px;
}

#sponsors {
    padding-left: 40px;
}

ul.sponsorlogoer {
    display: inline-block;
    margin: 0;
    zoom:1;
    list-style: none;
}

ul.sponsorlogoer li {
    float: left;
    margin-right: 25px;
    height: 90px;
    padding: 2px 5px;
}

div.error input {
    border: 1px solid #b94a48;
}

div.error + table {
    border: 1px solid #b94a48;
}

.steps {
    padding-bottom: 10px;
    padding-top: 10px;
}

.steps div {
    display: inline;
    padding-right: 10px;
    color: #cccccc;
}

.steps .active {
    color: black;
}

.talk_list li a {
    font-size: larger;
}

.thumbnail-with-button {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 0;
}

/* Aligns image on top of speakers page. */
.frontpage-img-align {
    margin-top: -40px;
    margin-left: 0;
}

.speaker {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
}

.speaker .content {
    background-color: #FFFFFF;
    padding: 10px;
}

.speaker-meta {
  width: 75%;
  float: left;
}

.speaker-image {
  box-sizing: border-box;
  width: 25%;
  height: auto;
  margin: 0px !important;
  float: left;
  padding-right: 10px;
}

.speakers-box {
      border-top: 8px solid #F6AB6F;
      width: 100%;
      margin: 0 auto;
  }

.speakers {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.speakers h3 {
  margin-bottom: 1.5em;
}

.program h2, .talks h3 {
  margin-top: 1.5em;
  margin-bottom: 0.38em;
}

.speakers .speaker-group {
    text-align: center;
    margin-left: 0;
}

.frontpage-speaker {
    vertical-align: top;
    display: inline-block;
    width: 49%;
    min-width: 166px;
    padding-bottom: 20px;
    text-align: left;
}

.frontpage-speaker img {
  border: 3px solid #d3d1cb;
  border-radius: 5px;
  width: 160px;
  height: 160px;
}

.social-links .nav > li > a {
    padding-top: 0;
}

.flash-notice {
    color: dodgerblue;
    font-weight: bold;
}

.right-column div {
     text-align: center;
}

.right-column h2{
    color: #6D6C69;
    text-align: center;
}

.talks {
  margin: auto;
  width: 95%;
  max-width: 680px;
  padding-bottom: 2em;
}

.row.talk {
    padding-bottom: 30px;
}

.cfp {
    text-align: center;
}

/* ==================== media queries ==================== */

@media screen and (max-width: 693px) {
  .speaker-header:before,
  .speaker-header:after {
    content: " ";
    display: table;
  }

  .speaker-header:after {
    clear: both;
  }

  #meta {
    float: left;
    text-align: left;
    padding-left: 1em;
    padding-top: 1em;
  }
}

@media screen and (min-width: 500px) {

footer .inner {
   background: url(/assets/bg-footer-2people.png) no-repeat 18em bottom;
}

.cfp {
    border-top: 8px solid #F6AB6F;
}

} /* end this media query */

@media screen and (min-width: 700px) {
  .speaker-meta {
    margin-bottom: 15px;
  }

.hello h1 {
   font-size: 3.0em;
   line-height: 1.1;
}

.sponsorlogos li {
   width:20%;
   float: left;
   height: 80px;
}

} /* end this media query */


@media screen and (min-width: 768px) {

footer .inner {
   background: url(/assets/bg-footer-5people.png) no-repeat 18em bottom;
}

.hello {
    /*border-right: 8px solid #F6AB6F;*/
    padding-top: 30px;
}

.cfp {
    border-top: none;
    margin-left: 0;
    margin-top: 30px;
}

} /* end this media query */


@media screen and (max-width: 980px) {

    .cfp h3 {
        font-size: 1.2em;
    }

} /* end this media query */

@media screen and (min-width: 980px) {

.hello h1 {
   font-size: 3.5em;
   line-height: 1.1;
}

footer .inner {
   background: url(/assets/bg-footer-8people.png) no-repeat 18em bottom;
}



} /* end this media query */


@media screen and (min-width: 1200px) {

.hello {
   background: url(/assets/folk06.png) no-repeat;
    background-position: 90% 100%;
    background-size: 10%;
}

/*.hello .hello-inner {*/
   /*background: url(/assets/bg-footer-2people.png) no-repeat;*/
   /*background-position: 60px 175px;*/
   /*background-size: 15%;*/
/*}*/

.inner {
   width: 70em;                /* 1120px */
}

.sponsorarea {
   background: #fff url(/assets/bg-sponsorarea.png) no-repeat top center;
}

.sponsorarea .inner {
   background-color: #fff;
}

.speakers-box {
  /*background: url(/assets/bg-hello.png) no-repeat 1em 1em;*/
  background: url(/assets/bg-footer-2people.png) no-repeat 1em 1em;
  background-position: 0px 55px;
  background-size: 15%;
}

.speakers {
    width: 80%;
    margin-right: 0px;
    padding-top: 20px;
}

} /* end this media query */
