body {
    padding-top: 20px;
    color: #666;
    background-color: #fffffa;
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

header {
    background-image: url("bgnoise.png");
}

footer {
    background-color: white;
    border-top: 2px #505050 solid;
    margin-top: 60px;
    padding-top: 20px;
}

.masthead {
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.masthead h1 {
    color: white;
    font-size: 60px;
}

.masthead p {
    font-size: 20px;
    line-height: 40px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #0070df;
}

header {
    margin-top: 20px;
    position: relative;
    min-height: 70px;
}

a {
    color: #0070df;
}

a:hover {
    color: #0070df;
}

#submittalk a, #registration a {
    text-transform: uppercase;
    color: #fff;
}

#submittalk, #registration {
    background-color: #9fd07e;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    margin-bottom: 6px;
    font-size: 190%;
    text-align: center;
    padding-top: 8px;
}

#submittalk a:hover, #registration a:hover {
    text-decoration: none;
    background-color: #9fd07e;
}

.person {
    float: left;
    margin: 10px;
}

.scale-down img {
    height: 180px;
    max-width: 152px;
}

ul.sponsorlogoer {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}

ul.sponsorlogoer li {
    float: left;
    margin-right: 35px;
    height: 90px;
    padding: 0;
}

div.field_with_errors input {
    border: 1px solid red;
    margin: 0;
}

#railserrordisplaysux, #railserrordisplaysux * {
    line-height: 2px;
    font-size: 12px;
}

/* Error display */

#railserrordisplaysux div.field_with_errors {
    border: 1px solid red;
    padding: 0 1px;
    margin: 0 2px 0 2px;
}

#railserrordisplaysux div.field_with_errors input {
    vertical-align: -2px;
    border: 0;
}

#railserrordisplaysux div.field_with_errors:first-child {
    border: 0;
    margin: 0;
    padding: 0;
}

div.errorExplanation li {
    color: red;
}

div.field_with_errors, #railserrordisplaysux {
    display: inline;
    overflow: hidden;
}

div.field_with_errors input {
    border: 1px solid red;
    margin: 0;
}

div.language .field_with_errors {
    display: inline;
}

.steps {
    padding-bottom: 10px;
    padding-top: 10px;
}

.steps div {
    display: inline;
    padding-right: 10px;
    color: #cccccc;
}

.steps .active {
    color: black;
}

