/* Webfonts:
   Copyright © 2012 by Letters From Sweden. All rights reserved.
   To obtain a license, please see: http://lettersfromsweden.se/webfonts */

@font-face {
    font-family: 'Siri Core';
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Regular.eot');
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Regular.eot?#iefix') format('embedded-opentype'), url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Siri Core';
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Bold.eot');
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Bold.eot?#iefix') format('embedded-opentype'), url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Siri Core';
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Italic.eot');
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Italic.eot?#iefix') format('embedded-opentype'), url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Siri Core';
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-BoldItalic.eot');
    src: url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-BoldItalic.eot?#iefix') format('embedded-opentype'), url('http://prosjekt.sortenke.no/booster/profil/fonts/SiriCore-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    padding-top: 20px;
    color: #777;;
    background-color: #f2f0e6;
    font-family: "Siri Core", 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, Verdana, sans-serif;
    font-size-adjust: 0.51;
    font-weight: normal;
    font-style: normal;
}

b, h1, h2, h3, h4, h5 {
    font-family: "Siri Core Bold", 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, Verdana, sans-serif;
    font-size-adjust: 0.52;
    font-weight: bold;
    font-style: normal;
}

header {
    background-color: #1790a0;
}

footer {
    background-color: white;
    border-top: 2px #505050 solid;
    margin-top: 60px;
    padding: 20px;
}

.masthead {
    color: white;
    margin-top: 20px;
    padding: 30px;
}

.masthead h1 {
    color: white;
    font-size: 60px;
}

.masthead p {
    font-size: 20px;
    line-height: 40px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #1790a0;
}

a {
    color: #1790a0;
}

a:hover {
    color: #1790a0;
}

#submittalk a, #registration a {
    text-transform: uppercase;
    color: #fff;
}

#submittalk, #registration {
    background-color: #9fd07e;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    margin-bottom: 6px;
    font-size: 190%;
    text-align: center;
    padding-top: 8px;
}

#submittalk a:hover, #registration a:hover {
    text-decoration: none;
    background-color: #9fd07e;
}

.person {
    float: left;
    margin: 10px;
}

.scale-down img {
    height: 180px;
    max-width: 152px;
}

ul.sponsorlogoer {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}

ul.sponsorlogoer li {
    float: left;
    margin-right: 35px;
    height: 90px;
    padding: 0;
}

div.field_with_errors input {
    border: 1px solid red;
    margin: 0;
}

#railserrordisplaysux, #railserrordisplaysux * {
    line-height: 2px;
    font-size: 12px;
}

/* Error display */

#railserrordisplaysux div.field_with_errors {
    border: 1px solid red;
    padding: 0 1px;
    margin: 0 2px 0 2px;
}

#railserrordisplaysux div.field_with_errors input {
    vertical-align: -2px;
    border: 0;
}

#railserrordisplaysux div.field_with_errors:first-child {
    border: 0;
    margin: 0;
    padding: 0;
}

div.errorExplanation li {
    color: red;
}

div.field_with_errors, #railserrordisplaysux {
    display: inline;
    overflow: hidden;
}

div.field_with_errors input {
    border: 1px solid red;
    margin: 0;
}

div.language .field_with_errors {
    display: inline;
}

.steps {
    padding-bottom: 10px;
    padding-top: 10px;
}

.steps div {
    display: inline;
    padding-right: 10px;
    color: #cccccc;
}

.steps .active {
    color: black;
}

.highlighted-form {
}

