/* tables */
table.tablesorter thead tr .tablesorter-header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}
table.tablesorter thead tr .tablesorter-headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .tablesorter-headerSortDown {
    background-image: url(desc.gif);
}