<div class="steps col-xs-12">
    <div id="start">1. Who are you?</div>
    <div id="talk">2. What's your passion?</div>
    <div id="details">3. What shall we tell the world?</div>
	<div id="finish">4. I think we're done here!</div>
</div>

<script>
	$("#<%= active_id %>").addClass("active");
</script>
