<%= render :partial => 'steps', :locals => {:active_id => "finish" } %>

<h1>Thank you for your contribution!</h1>

<p>
    Your talk has already been published on the web.
</p>

<h2>What happens next?</h2>
<p>
    Your talk will be reviewed by the Booster committee. You will be contacted by the committee shortly after
	call for lightning talks ends on <strong><%= Dates::CFP_LIGHTNING_ENDS.to_formatted_s(:long )%></strong>.
</p>


