<article class="inner">
<%= render :partial => 'steps', :locals => {:active_id => "talk"} %>
<h2>What's your passion?</h2>

<%= form_for @talk, url: "/register_lightning_talk/create_talk" do |f| %>

<%= render partial: 'form_fields', locals: { f: f } %>

<% end %>

</article>
