<div class="container-fluid frontpage-element">
  <div class="row">
    <div class="col-lg-6 frontpage-element-header full-image">
      <%= image_tag path_to_image, class: 'img-responsive' %>
    </div>
    <div class="col-lg-6 frontpage-element-body">
      <h2 class="frontpage-element-body-headline">
        <%= headline %>
      </h2>

      <p>
        <%= text %>
      </p>
    </div>
  </div>
</div>
