<div class="imagetron">
  <div class="imagetron-bg" style='background-image: url("/images/coffee.jpg")'>
    <%= image_tag '/images/coffee.jpg', class: 'img-superfluid' %>
  </div>
  <div class="container imagetron-text-over-background">

    <%= image_tag '/images/tedragen.png', class: 'imagetron-img' %>
    <h2>Our very own baristas</h2>
    <p>
      We always have fantastic coffee - and plenty of it! We also love tea and so does the local black metal heroes and
      tea enthusiasts Tedragen. They will be serving up exotic and exciting teas brewed fresh and perfect.
    </p>
  </div>
</div>