<h2>What is Booster?</h2>

<p>The Booster conference is an IT conference for the whole development team, and will take place March 13.-15. in Bergen, Norway.
  Squeezed in between the mountains of western Norway and the fjords, the location provides for a unique experience.
</p>

<h2>Why is the Booster conference different?</h2>

<ul>
  <li><strong>We're in Bergen</strong>, the most beautiful city in Norway.</li>
  <li><strong>We believe that lack of communication is one of the industry's biggest problems.</strong> We aim to gather
    developers, project managers/scrum masters, architects, UX people, testers, test managers and security professionals in one conference.
  </li>
  <li><strong>We don't have any hour-long talks</strong>. Instead we have the bite-sized wisdom of lightning talks and
    the immersion of tutorials, making you come back from the conference with real knowledge you can use.
  </li>
  <li><strong>We care about the social aspects, too.</strong> The most interesting parts of a conference often happen
    in the breaks. That's why we have top notch food, long breaks, a conference dinner included in the price, a high
    speaker-participant ratio and friendly speakers that are happy to talk with the participants.
  </li>
</ul>

<h2>Practical information</h2>

<p>
  The conference takes place March 13.-15. 2013 at
  <a href="http://www.scandichotels.com/en/Hotels/Countries/Norway/Bergen/Hotels/Scandic-Bergen-City/" target="_blank">
    Scandic Hotel Bergen City</a> in Bergen, Norway. The closest airport is <a href="http://www.avinor.no/en/airport/bergen"
                                                                               target="_blank">Bergen Flesland Airport (BGO)</a>. To get to the conference from the airport, take the
  <a href="http://flybussen.no/index.asp?lang=ENG" target="_blank"> airport express coach</a>. The bus stop closest to
  the hotel is called Festplassen.
</p>

<!--p>
  To book a room at the conference hotel, contact the hotel by phone (+47 55 30 90 80) or e-mail <a href="mailto:bergencity@scandichotels.com">bergencity@scandichotels.com</a>. Booking code is 'Booster'. The special rate for Booster participants is NOK 1290 for a single room, and NOK 1490 for a double room. This rate is not available on the Scandic hotels website.
</p-->

<p>
<iframe width="300" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.no/maps?ie=UTF8&amp;q=scandic+hotel+bergen&amp;fb=1&amp;gl=no&amp;hq=scandic+hotel&amp;hnear=Bergen&amp;cid=0,0,5996699683404040037&amp;ei=NlXLTJ-oAoiDOsLFmeEB&amp;ved=0CDUQnwIwAw&amp;ll=60.391293,5.317497&amp;spn=0.006295,0.006295&amp;t=h&amp;output=embed"></iframe>
<br/>
<small>
  <a href="http://maps.google.no/maps?ie=UTF8&amp;q=scandic+hotel+bergen&amp;fb=1&amp;gl=no&amp;hq=scandic+hotel&amp;hnear=Bergen&amp;cid=0,0,5996699683404040037&amp;ei=NlXLTJ-oAoiDOsLFmeEB&amp;ved=0CDUQnwIwAw&amp;ll=60.391293,5.317497&amp;spn=0.006295,0.006295&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">See a larger map</a></small>
</p>
