<article class="inner">
  <div class="header-join">
    <h2>Kurs - Agile at scale</h2>
  </div>
  <h2>Bli med!</h2>
  <p>
    Vi er stolte av å kunne invitere deg til et 1-dagskurs med Joakim Sundén, Agile Coach i Spotify.
    Kurset vil finne sted på Scandic Bergen City mandag 16. oktober 0900-1600.
    Meld deg på i dag, vi har et begrenset antall plasser. Derfor er også påmeldingen bindende.
  </p>

  <p><button type="button" class="btn btn-lg btn-primary"><a class="bold"  href="https://goo.gl/forms/kb5VTe6KtXNhnIX33">Påmelding</a></button></p>

  <h3>Om Joakim Sundén</h3>

  <p>
    Since 2011 I have worked as an agile coach at Spotify where I coach teams and leaders to help them build better
    products
    faster. I was part of the coach group that worked together with the CTO to design and introduce a new approach to
    Agile at scale, aka “The Spotify Model” with tribes, squads, chapters, guilds, etc. Together with my friend and
    former colleague Marcus Hammarberg I wrote the book Kanban In Action (Manning, 2014).
  </p>

  <div>
    <%= image_tag("joachimsunden.png", class: "center-block") %>
  </div>

  <h4>
    Tentativ agenda og bakgrunn for kurset er som følger:
  </h4>
  <p>
    “The Spotify Model” of agile at scale has been getting a surprising amount of attention in the agile community since
    we started sharing it in 2012 and the Spotify Engineering Culture videos have more than 500 000 views. It was never
    intended as a framework or a model, it was just a case study of the Spotify way of working at the time. That has not
    stopped a big number of organizations from copying or imitating the model, often without understanding what it was
    optimized for, what challenges it comes with or how Spotify has adapted and continued to evolve in the five years
    since its publication.
  </p>

  <p>
    We found this scary at first and even went to great lengths to caution people, proclaiming that there is no Spotify
    Model. After meeting with a bunch of companies, and hearing from even more of them, we've come to realize that they
    are happy with their adoptions of the “model” and some of them have seen huge improvements of their organizations.
    "All models are wrong, but some are useful" is proving to apply yet again.
  </p>
  <h5>
    Autonomous Squads - Creating Great Teams
  </h5>
  <h5>
    Tribal Unity at Spotify
  </h5>
  <ul>
    <li>Squad Principles and Minimum Viable Agility practices</li>
    <ul>
      <li>Squad Health Check model</li>
    </ul>
    <li>How to support the emergence of high-performing teams</li>
    <li>Self-selecting teams</li>
  </ul>
  <h5>Connecting the Teams and Creating a Tribe</h5>
  <ul>
    <li>Creating a shared identity for the tribe and the teams</li>
    <li>Finding the right Tribe Rhythm; rituals and meetings</li>
    <ul>
      <li>Tribe Gatherings/All heads</li>
      <li>Retrospective Gatherings</li>
      <li>Squad Taps</li>
      <li>OKR/Big room planning</li>
    </ul>
    <li>Using chapters to maintain connection between specialties</li>
    <li>Onboarding</li>
  </ul>
  <h5>Tribe Leadership - Connecting the Tribe to Leaders and an Idea</h5>
  <ul>
    <li>Finding a vision for your tribe</li>
    <li>The Tribe Leadership roles and accountabilities</li>
    <ul>
      <li>Tribe Leads Trio</li>
      <li>Chapter Leads</li>
      <li>Product Owners</li>
      <li>Agile Coaches</li>
      <li>Technical Owners/Delivery Leads</li>
    </ul>
    <li>Finding the right Tribe Leadership Rhythm; leadership forums</li>
    <ul>
      <li>Delivery Circle</li>
      <li>Org Health Circle</li>
      <li>People Management Circle</li>
      <li>Mission Circle</li>
      <li>Tech Health Circle</li>
      <li>Effective Squads Circle</li>
    </ul>
  </ul>
  <h5>Sustaining “Tribal Unity”</h5>
  <ul>
    <li>Monitor your tribe’s health</li>
    <li>Grow the next generation of leaders for your tribe</li>
  </ul>

  <p><button type="button" class="btn btn-lg btn-primary"><a class="bold"  href="https://goo.gl/forms/kb5VTe6KtXNhnIX33">Påmelding</a></button></p>
</article>
