<% content_for :title, "Call for presentations" %>

<h3>Introduction</h3>
<p>
  Do you have something you want to share? A controversial idea, an interesting experience or something you have learnt lately? Submit your abstract and get a chance to be part of a great team of speakers at Booster 2014. All speakers get free admission to the Conference Dinner and the Speaker's Dinner.
</p>
<p>
  By filling out this form, your abstract for a lightning talk or a tutorial will be added to the list
  of suggestions for this year's conference. You may change the content of your abstract at any time
  during the period that the CfP is open. Other participants will be able to see your
  suggestion as soon as it is registered.
</p>
<p>
  The workshop proposals will be reviewed by a group of smart and friendly people, who will help you create the best proposal you can. You will receive feedback from reviewers by email. 
<p>
<strong>The CFP for workshop closed January 13th 2014</strong>
</p>
<p>
  <a class="btn btn-primary btn-large" disabled>Submit a workshop</a>
  <%#= link_to "Submit a workshop", register_workshop_start_url, :class => "btn btn-primary btn-large", :disabled => true %>
</p>

<p>
<strong>The CFP for lightning talks will close February 2nd 2014</strong>
</p>
<p>
  <%= link_to "Submit a lightning talk", register_lightning_talk_start_url, :class => "btn btn-primary btn-large" %>
</p>

<h3>Topics</h3>
<p>
  These are some of the topics the committee have in mind for this year's conference, but do not feel constrained by
  them. We would like you to send in an abstract about any (IT-related) topic you really care about! Your audience will
  probably be developers, architects, testers/test managers and/or project managers, but you will not have to cater
  to all audiences at once.
</p>
<ul>
  <li>Security</li>
  <li>Team and customer collaboration</li>
  <li>Lean Startup</li>
  <li>Craftsmanship</li>
  <li>Quality and testing</li>
  <li>The web</li>
  <li>Front end technologies</li>
  <li>Agile</li>
  <li>Programming languages</li>
  <li>Architecture</li>
  <li>Methods</li>
  <li>User experience</li>
</ul>
<h3>The different types of talks</h3>
<p>
  We don't do hour-long talks at the Booster conference. We want you to come back to work after the conference with
  fresh ideas and real knowledge you can use, and we think that that happens to a lesser degree with hour-long talks.
  Instead we invite you to share either a small insight in the form of a lightning talk, or to teach our participants
  a new skill in a workshop session.
</p>

<h4>Lightning talks</h4>
<p>
  A lightning talk is 10 minutes long and is a great way to convey an insight, suggest an idea, or share your enthusiasm about a particular technology or method. Lightning talks are usually well-rehearsed and packed with useful information.
</p>
<h4>Workshops</h4>
<p>
  A workshop can be short (1.5 hrs), half-day (3 hrs) or full-day (4.5 hrs). You work with a small group of people who want to learn a particular technology or method that you know well. Workshops are interactive and hands-on, and focused on learning by doin
</p>
<h3>What's in it for me?</h3>
<p>
  Getting a forum to present and discuss your ideas with other smart people and eternal glory. And not having to pay
  so much for the ticket. If you get a lightning talk abstract accepted for the conference, you will get 25 % off the
  price of a full price ticket. If you get a workshop accepted for
  the conference, you will get a free ticket. If you've already paid, the money will be refunded after you're accepted.
</p>
<p>
  <strong>We normally don't cover travel and accomodation for speakers. If this makes it difficult for you to present at Booster, you may apply for reimbursement. Our <%= link_to "monetary policy", :controller => "info", :action => "monetary_policy" %> has all the details.</strong>
</p>