<article class="inner">
  <div class="header-join">
    <h2>Booster Code of Conduct</h2>
  </div>

  <p>
    All attendees, speakers, partners, staff and volunteers at our conference are required to follow the code of
    conduct.
  </p>

  <h4>Short Version</h4>

  <p>
    Have a good time and help others have a good time too. Say hi to someone you don’t know. Meet interesting people.
    Don’t act surprised when a person doesn’t conform to a stereotype. No one is at Booster just to represent a minority
    so start conversations about tech, the weather, the food, the best speaker or the delights of Bergen before talking
    about “being minority X in tech”. Make sure people are okay with touching before you touch them. Laugh and learn.
    You, and everyone else, is here to have a good time and learn something new –
    <a href="/info/about#organizers">let us know</a>
    if anything is getting in the way of that.
  </p>

  <h4 style="padding-top:20px">Need help?</h4>

  <p>
    Contact Karianne (+47 98 67 51 47/<a href="http://twitter.com/karianneberg" title="Twitter" target="_blank">
    &#64;karianneberg</a>), Anette (+47 92 19 19 70/<a href="http://twitter.com/anettebgo" title="Twitter" target="_blank">
    &#64;anettebgo</a>), André (+47 93 65 40 56/<a href="http://twitter.com/andrev" title="Twitter" target="_blank">
    &#64;andrev</a>) any time, or any of the other
    <a href="/info/about#organizers">organizers</a>
    or volunteers around. Organizers wear different colored badges, volunteers
    wear Booster branded shirts.
  </p>

  <h4 style="padding-top:30px">The Long Version</h4>

  <p>
    Booster strives to be an enjoyable and welcoming conference for all attendees, regardless of their background,
    abilities or appearance. We do not tolerate harassment of our participants or staff in any form.
  </p>

  <p>
    Harassment includes offensive comments related to gender, age, sexual orientation, disability, physical appearance,
    body size, race, religion (or lack thereof), deliberate intimidation, stalking, following, photography or
    audio/video recording against reasonable consent, sustained disruption of talks or other events, unwanted physical
    contact, and unwelcome sexual attention. Sexual imagery in public spaces is inappropriate for Booster, especially in
    talks and workshops but also at social events, Twitter and other online media.
  </p>

  <p>
    Partners are also subject to this policy. In particular, partners should not use sexualised images, activities, or
    other material, use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
  </p>

  <p>
    Participants, speakers or partners asked to stop any harassing or inappropriate behavior are expected to comply immediately.
  </p>

  <p>
    If a participant engages in harassing behavior, the <a href="/info/about#organizers">organizers</a> will confer
    with
    the offended party and take any action they deem appropriate, from warning the offender to expulsion from the
    conference <i>with no refund</i>.
  </p>

  <p>
    The Booster staff cannot be everywhere all the time. If you are being harassed, notice that someone else is being
    harassed, or have any other concerns, say something if you feel safe speaking up, and please contact an organizer
    immediately. Even if the situation has already been handled, this will help us keep an eye out
    for further problems. Organizers can be identified by their differently coloured badges, and
<%= link_to 'they look like this', info_organizers_path %>.
  </p>

  <p>
    We will do our best to help participants feel comfortable again after an incident. We can contact hotel/venue
    security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe
    for the duration of the conference. Know that we value your attendance over that of the harasser regardless of their
    speaker status or community standing.
  </p>

  <p>
    Participants are required to follow these rules at all conference-related events – official or otherwise.
  </p>

</article>
