<article class="inner">
  <h2>Conference dinner</h2>

  <p>
    The conference dinner will be at Kalfaret Brygghus (see <a href="http://bit.ly/booster-2014-map">the map</a>).
    It will feature a three course dinner, drinks and entertainment by the local theatre
    group Bergen Impro Laug. We start with an apéritif Wednesday at 19:00, and the dinner is served at 20:00. We expect
    this to be the party of the year! The theatre group will come on stage after dinner.
  </p>

  <h2>Please RSVP</h2>
  <ul>
    <li>
      <a href="http://boosterconf.no/users/current/attending_dinner">
        YES, I'd love to attend the dinner
      </a>
    </li>
    <li>
      <a href="http://boosterconf.no/users/current/not_attending_dinner">
        NO, unfortunately I am unable to attend the dinner
      </a>
    </li>
  </ul>

  <p>
    The conference dinner is included in the ticket price, so there's no reason not to attend :)
  </p>
</article>