<article class="inner">
  <div class="header-join">
    <h2>Fishbowl - community event</h2>
  </div>

  <p>
    We want to work with local community groups, and each year we help organize a social event open for everyone, not
    just the conference attendees in cooperation with one or more of these communities. This year there will be a
    "Fishbowl" session at Nøsteboden from 19:30. Come join in in the discussion!
  </p>
</article>
