<article class="inner">
	<h2>Fishbowl - community event</h2>
	<p>
		We want to work with local community groups, and each year we help organize a social event open for everyone, not just the conference attendees in cooperation with one or more of these communities. This year there will be a "Fishbowl" session at TBD from 19:00. Come join in in the discussion! 
	</p>
</article>