<article>
  <div id="notifications">
<%# TODO: Dette ser jævlig ut. Fikse! %>
    <% if flash[:notice] %>
        <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>

    <p style="color: orange"><%= flash[:warn] %></p>

    <p style="color: red"><%= flash[:error] %></p>
  </div>

  <h1 class="announce">Call for papers is open!</h1>

  <p>
    Do you have something you want to share? A controversial idea,
    an interesting experience, or something you have learnt lately? Propose a topic for a lightning
    talk, and get a chance to be part of a great team of speakers at Booster 2013. You´ll get rabated tickets,
    and free admission to the conference dinner and the speaker´s dinner.
  </p>
  <p>
    Early bird tickets are also available. Get them <a href="/users/new">here</a>.
  </p>
  <div>
    <a href="/register_lightning_talk/start" class="btn btn-primary btn-large">Propose a lightning talk</a>
  </div>

</article>