<article>
  <div id="notifications">
<%# TODO: Dette ser jævlig ut. Fikse! %>
    <% if flash[:notice] %>
        <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>

    <p style="color: orange"><%= flash[:warn] %></p>

    <p style="color: red"><%= flash[:error] %></p>
  </div>

  <h1 class="announce">Call for papers is open!</h1>

  <p>

  </p>

  <p>
    Watch this space for announcements from Booster 2013. Follow us on
    <a href="http://twitter.com/boosterconf">Twitter</a>, and we&#8217;ll keep you posted!
  </p>
</article>