<div id="content-wrapper">

    <div id="content">

        <h1 class="announce">Announcing Booster!</h1>
        <p class="highlight">A software conference for the whole team</p>

        <p>
            This March, in Bergen, come get a boost for your software
            development team. 
        </p>
        <p>Are you a tester, a developer, an interaction
            designer, an architect, a security professional or a project manager? 
            This conference is for you. 
        </p>
        <p>Listen, talk, do and learn. We have tutorials and workshops and
            provide plenty of time to interact with the speakers. And maybe you
            have something to share as well? CFP and registration opens soon!
        </p>
        <p>
            Watch this space for announcements from Booster 2013. Follow us on
            <a href="http://twitter.com/boosterconf">Twitter</a>, and we'll keep you posted!
        </p>
    </div>

</div>