<div class="hello">
   <h2>Booster 2014, 12-14 March</h2>
   <h1>Call for papers</h1><h1>is now open!</h1>
   <div>
      <%= link_to "Submit a workshop", register_workshop_start_url, :class => "btn btn-primary btn-large" %>
      <%= link_to "Submit a lightning talk", register_lightning_talk_start_url, :class => "btn btn-primary btn-large" %>
   </div>
   <p>Want to know more about what we are looking for in a proposal? Read <%= link_to 'more', info_cfp_url %>.</p>
</div>

<div class="videosarea group">
   <div class="videosintro">
      <p>While you count the days to Booster 2014, we think you should watch</p>
      <h1>videos from talks at Booster&nbsp;2013 on <a href="https://vimeo.com/boosterconf">Vimeo</a></h1>
   </div>
</div> 