<%= render partial: 'frontpage_element', locals: {
                                               headline: "Workshops",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>

<%= render partial: 'frontpage_element', locals: {
                                               headline: "Lightning talks",
                                               path_to_image: "/images/bryggen.jpeg",
                                               text: "We don't have any hour-long talks. Instead we have the bite-sized
                                                      wisdom of lightning talks and the immersion of tutorials, making
                                                      you come back from the conference with real knowledge you can use."
                                       } %>

<div class="jumbotron">
  <div class="container">
    <h1>Beautiful city of Bergen</h1>

    <p>(info here..)</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>Super awesome speakers!</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <p>(speaker-bilde)</p>
  </div>
  <div class="col-lg-3">
    <p>(speaker-bilde)</p>
  </div>
  <div class="col-lg-3">
    <p>(speaker-bilde)</p>
  </div>
  <div class="col-lg-3">
    <p>(speaker-bilde)</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <p>(bilde)</p>

    <h1>Our very own barista</h1>

    <p>Year arfetr.. .fgfd gfdg dfg dfg dfg fd g</p>
  </div>
</div>
