<div id="notifications">
<%# TODO: Dette ser jævlig ut. Fikse! %>
<% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

  <p style="color: orange"><%= flash[:warn] %></p>

  <p style="color: red"><%= flash[:error] %></p>
</div>
        
<h1 class="announce">Announcing Booster!</h1>
<p class="highlight">A software conference for the whole team</p>

<p>
    This March, visit beautiful Bergen, and get a boost of learning for yourself and your team. 
</p>
<p>
    Booster is a software conference aimed at developers, project managers/scrum masters, architects, UX people, testers, test managers and security professionals. 
</p>
<p>
    <a href="/info/organizers">The people behind the conference</a> have previously organized the <a href="http://rootsconf.no">Roots Conference</a>. If you&#8217;ve enjoyed Roots in the past, we promise that you won&#8217;t be disappointed by Booster 2013. 
</p>
<p>
    We don&#8217;t do the traditional hour-long lectures. Instead we have the bite-sized wisdom of lightning talks and the immersion of tutorials, making you come back from the conference with real knowledge you can use.
</p>
<p>
    Meeting other people is a large part of what makes a conference worth attending. At Booster we want to make it easy to chat with other participants and speakers. That&#8217;s why we have long breaks, provide excellent coffee and good food, and a conference dinner included in the price. We also invite local user communities to take part in the conference. Speakers are encouraged to hang around during breaks, and participate at the conference dinner and community events. 
</p>
<p>
    Watch this space for announcements from Booster 2013. Registration and call for papers opens soon! Follow us on
    <a href="http://twitter.com/boosterconf">Twitter</a>, and we&#8217;ll keep you posted!
</p>
