<article class="inner">
  <div class="header-join">
  <h2>Booster Kids</h2>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-xs-12">
      <%= image_tag 'kids_logo.png' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Biblioteket, arrangerer Bergens første
        utviklerkonferanse
        for barn. Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold, akkurat slik en god konferanse skal
        være!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div style="text-align: center">
        <h3>Kick off med Spillkontoret</h3>
        <p>Bergens egne Youtubere starter dagen med en underholdenede og teknologifyllt åpningssesjon</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Kreativ elektronikk med Arduino</h3>
        <p>Lær å programmere elektronikk med Arduino. Målgruppe 11+, 20 plasser</p>
        <p><a href="#">Påmelding</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Et eller annet med mods i Minecraft</h3>
        <p>Som om ikke Minecraft var stort nok, det kan utvides også! Målgruppe 11+, 30 plasser</p>
        <p><a href="#">Påmelding</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Noe med Phyton eller Javascript</h3>
        <p>Noe fornuftig om det Målgruppe 15+, 30 plasser</p>
        <p><a href="#">Påmelding</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div>
        <h3>Code Studio</h3>
        <p>Klart de minste kan programmere også! På barneavdelingen hjelper vi de minste å komme i gang med
          programmering, ta med ipad eller pc og dropp innom! Målgruppe 5+ , åpent</p>
        <p><a href="#">Påmelding</a></p>
      </div>
    </div>
  </div>

  <!--<div class="row">-->
    <!--<div class="col-xs-12">-->
      <!--<div>-->
        <!--<p>Et samarbeid mellom</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</article>
