<article class="inner">
  <div class="header-join">
  <h2>Booster Kids</h2>
  </div>


  <div class="kids">
  <div class="row">
    <div class="col-xs-12">
      <p>Boosterkonferansen vil også i 2017 ha en egen konferansedag for barn. Følg med her for mer informasjon!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div>
        <p><b>Ta gjerne kontakt med oss på <a href="mailto:kids@boosterconf.no">kids@boosterconf.no</a> om du har spørsmål om Booster Kids!</b></p>
      </div>
    </div>
  </div>

  </div>
</article>
