<article class="inner">
  <div class="header-join">
    <h2>Booster Kids</h2>
  </div>


  <div class="kids">
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p>For femte år på rad arrangerer Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Bergen Offentlige
             Bibliotek, utviklerkonferanse for barn. Konferansen avholdes på Scandic Bergen
             City <%= Dates::CONFERENCE_DATE_KIDS %>. Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold,
             akkurat slik en god konferanse skal være!</p>
          <p class="bold"> Mer informasjon om programmet og påmelding kommer senere.</p>
        </div>
      </div>
    </div>
<%#
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>11.00 - Registrering av deltagerne starter</h3>
          <p>Alle deltagerne må registreres og få navneskilt.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>12.00 - Kick off!</h3>
          <p>Det gir mange spennende muligheter at flere og flere av tingene vår kan snakke sammen over Internett, og
            det er kjempegøy når vi kan snakke med høyttaleren og få den til å sette på TV-en. Eller låse opp
            inngangsdøren med mobilen når det ringer på. Men kan det også være skummelt..?
          </p>
          <p>Martin, Nikhil og dukken
            Cayla kommer og snakker litt om hvordan vi kan ha det både gøy OG trygt når vi og tingene våre er på nettet,
            samt om bygging av roboter, pengesparemaskiner, LED-briller, lasere, konfettikanoner, disco-droner og
            plantevannere.</p>
        </div>
      </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-6">
          <div>
            <h3>13.00 - 16.30 Code Studio</h3>
            <h5>Martin Tverråen, Ingrid Næss Johansen</h5>
            <p>Klart de minste kan programmere også! Vi bruker Code Studio til å lage et opplegg for de minste barna, her
              kan man kode både på PC og pad.
              Man må kunne lese, eller ha med seg en voksen som kan hjelpe med den biten:)</p>
            <div class="kids_target">Målgruppe 6+, 40 plasser</div>
          <div class="kids_register">
            <a href="https://boosterconf.ticketco.events/no/nb/e/code_studio_2019" target="_new">PÅMELDING</a></div>
<!--              <div class="kids_register">PÅMELDING KOMMER</div>-->
            <p></p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div>
            <h3>13.00 - 16.30 BBC micro:bit</h3>
            <h5>Bjørn Hamre</h5>
            <p>Micro:bit er en mikrokontroller som er laget for å lære barn programmering. Vi skal programmere den med
              kode-blokker, akkurat som Scratch. I workshopen vil du lære litt om micro:biten og hvordan du overfører
              programmer til den. Gjennom forskjellige oppgaver vil du lage dine egne programmer til den som du kan
              kjøre på en micro:bit. Du må ha med din egen PC, men micro:bit får du låne når du kommer.</p>
            <div class="kids_target">Målgruppe 10+, 25 plasser</div>
          <div class="kids_register">
  <a href="https://boosterconf.ticketco.events/no/nb/e/microbit_2019" target="_new">PÅMELDING</a></div>
           <!--             <div class="kids_register">PÅMELDING KOMMER</div>-->
          </div>
        </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Web VR</h3>
          <h5>Gry Nagel</h5>
          <p>Lær å lage VR i nettleseren! Vi bruker rammeverket A-Frame for å lage en VR applikasjon på web som
            fungerer både på Android, iPhone og PC. A-Frame gjør at vi kan bruke HTML som vårt hoververktøy for å
            lage VR. Vi begynner helt fra begynnelsen av så ingen forkunnskaper er påkrevd.  </p>
          <div class="kids_target">Målgruppe 13+, 20 plasser</div>
          <div class="kids_register">
          <a href="https://boosterconf.ticketco.events/no/nb/e/webvr_2019" target="_new">PÅMELDING</a></div>
<!--                       <div class="kids_register">PÅMELDING KOMMER</div>-->
          <p></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Scratch</h3>
          <h5>Kristian Botnen</h5>
          <p>Scratch er er verktøy der vi lager programmer på en måte som kan minne om Lego. Vi plukker de programbrikkene vi vil bruke,
            og setter de sammen slik at programmet vårt gjør det vi har lyst til.
            Scratch fungerer i nettleseren, og er spesielt utviklet for barn mellom 8 og 16 år.
            Det finnes mange forskjellige programbrikker i verktøykassen, og vi kan gjøre mye gøy ved å
            sette sammen brikkene på forskjellige måter.</p>
          <div class="kids_target">Målgruppe 9+, 20 plasser</div>
          <div class="kids_register">
          <a href="https://boosterconf.ticketco.events/no/en/e/scratch_2019" target="_new">PÅMELDING</a></div>
          <!--              <div class="kids_register">PÅMELDING KOMMER</div>-->
        </div>
      </div>

    </div>

     <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Lego Boost</h3>
          <h5>GOOGLE DEVELOPER GROUP</h5>
          <p>Vi skal lære om roboter og koding med Lego Boost. Lego Boost er en interaktiv plattform for å lære koding ved hjelp av
            legoroboter. Vi skal leke, bygge og kode roboten Vernie til å gjøre triks og oppgaver. Opplegget passer veldig bra for de
            som ikke har programmert så mye før, men som har lyst til å lære. Vi stiller med Lego Boost kits, men gjerne ta med en
            tablet så alle har noe å kode på. Opplegget vil være basert på samarbeid da vi ikke har nok Lego Boost kits til alle.</p>

            <div class="kids_target">Målgruppe: 7 til 10 år</div>
                      <div class="kids_register">
                        <a href="https://boosterconf.ticketco.events/no/nb/e/lego_boost_2019" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
          <p></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 KREATIV ELEKTRONIKK MED ARDUINO</h3>
          <h5>JOACHIM HAAGEN SKEIE</h5>
          <p>Ved å lære enkel programmering lærer man å bli kreativ med et av de kraftigste arbeidsverktøyene vi har i dag. Arduino
            gjør det mulig å styre alt fra en LED-dimmer til en 3D-printer. I dette tretimerskurset skal vi lære mer om hva en Arduino
            er og hva elektronikk kan brukes til. Men aller viktigst - vi skal lære å få lamper på et lyspanel til å lyse i forskjellig mønstre,
            og lage et lite mini-spill som vi kan styre med en joystick!</p>
          <div class="kids_target">Målgruppe 11+, 12 plasser</div>
          <div class="kids_register">
          <a href="https://boosterconf.ticketco.events/no/nb/e/arduino_2019" target="_new">PÅMELDING</a></div>
          <!--              <div class="kids_register">PÅMELDING KOMMER</div>-->
        </div>
      </div>

    </div>

       <!--  <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><h3>Flere kurs kommer etter hvert. Følg med!</h3></p>
        </div>
      </div>
    </div>-->



    </div>
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Man blir sulten av å kode, så ca kl 14.00 blir det servert lunsj.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Vi har kaffekrok for foreldre under hele konferansen. Når barna er i gang med kodingen igjen etter lunsj
            (ca kl 14.30) blir det informasjonsmøte her om Lær Kidsa Koding og Boosterkonferansen for foreldre og andre
            interesserte.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Ta gjerne kontakt med oss på <a href="mailto:kids@boosterconf.no">kids@boosterconf.no</a> om du har
            spørsmål om Booster Kids!</b></p>
        </div>
      </div>
    </div>

  </div>
 -%>
</article>
