<article class="inner">
  <div class="header-join">
    <h2>Booster Kids</h2>
  </div>


  <div class="kids">
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p>For tredje år på rad arrangerer Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Bergen Offentlige
            Bibliotek, utviklerkonferanse for barn. Konferansen avholdes på Scandic Bergen
            City <%= Dates::CONFERENCE_DATE_KIDS %> . Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold,
            akkurat slik en god konferanse skal være!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>11.00 - Registrering av deltagerne starter</h3>
          <p>Alle deltagerne må registreres og få navneskilt.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>12.00 - Kick off!</h3>
          <p>Mer info kommer</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 align-self-center">
        <div>
          <h3>13.00 - 16.30 Lær å lage nettsider</h3>
          <h5>Ådne Forslund, Isabell Francis, Kristoffer Hansen</h5>
          <p>Har du alltid hatt lyst til å lage din egen nettside? Vi skal lage nettsider ved hjelp av HTML, CSS og Javascript.
            Dette er byggeklossene alle nettsider er laget av, og det er ikke så vanskelig som en kanskje skulle tro!
            Du trenger ikke å ha gjort noe av dette før og alt du trenger til kurset er å ta med egen PC.
            Vi skriver koden i Visual Studio Code, så det du helst ha installert på forhånd slik at vi ikke trenger å
            bruke så mye tid på dette under selve kurset.</p>
          <div class="kids_target">Målgruppe 12+, 25 plasser</div>

          <div class="kids_register"><a href="https://boosterconf.ticketco.events/no/nb/e/nettside" target="_new">PÅMELDING </a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
          <p></p>
        </div>
      </div>


      <div class="col-xs-12 col-md-6 align-self-center">
        <div>
          <h3>13.00 - 16.30 Kreativ elektronikk med Arduino</h3>
          <h5>Joachim Haagen Skeie</h5>
          <p>Ved å lære enkel programmering lærer man å bli kreativ med et av de kraftigste arbeidsverktøyene vi har i dag.</p>
          <p>Arduino gjør det mulig å styre alt fra en LED-dimmer til en 3D-printer. I dette tretimerskurset skal vi lære mer
            om hva en Arduino er og hva elektronikk kan brukes til. Men aller viktigst - vi skal lære å få lamper til å blinke,
            vi skal måle temperaturen i rommet - og kanskje vi rekker å få en motor til å rotere!</p>


          <div class="kids_target">Målgruppe 11+, 20 plasser</div>
          <div class="kids_register"><a href="https://boosterconf.ticketco.events/no/nb/e/arduino" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 App inventor</h3>
          <h5>Google developer group</h5>
          <p>Vi lager SPACE INVADERS med App Inventor

            App Inventor er et Scratch-lignende språk designet for å lage apper for Android. Det er utviklet av MIT og i
            bruk av millioner av barn og unge verden over, og er det den raskeste måten å lage en app. Vi skal lage
            spillet SPACE INVADERS med App Inventor, og du vil lære hvordan du programmerer enkel grafikk, løkker, lyd
            og - selvsagt - hvordan du skal skyte ned slemme aliens. Det er ingen krav om å ha brukt App Inventor før,
            vi vil vise en intro i dette, samt grunnleggende programmering, før vi starter.
          </p>
          <div class="kids_target">Målgruppe 10+, 25 plasser</div>
          <div class="kids_register"><a href="https://boosterconf.ticketco.events/no/nb/e/appinventor" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
          <p></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 BBC micro:bit</h3>
          <h5>Bjørn Hamre</h5>
          <p>Micro:bit er en mikrokontroller som er laget for å lære barn programmering. Vi skal programmere den med kode-blokker, akkurat som Scratch.
            En micro:bit har innebygde sensorer og annet som vi kan bruke, for eksempel blåtann, aksellerasjonsmåler, gyroskop, lysmatrise og knapper. </p>
          <div class="kids_target">Målgruppe 10+, 25 plasser</div>
          <div class="kids_register"> <a href="https://boosterconf.ticketco.events/no/nb/e/microbit" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
        </div>

      </div>
  </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Scratch</h3>
          <h5>Maja og Emma</h5>
          <p>Scratch er et programmeringsspråk som er ganske enkelt å skjønne, men du kan lage utrolig kule spill med det! P
            å dette kurset er det barn som har gått på kodeklubb og har erfaring med Scratch som underviser. Dette blir gøy!<p>
          <div class="kids_target">Målgruppe 9+, 20 plasser</div>
          <div class="kids_register"><a href="https://boosterconf.ticketco.events/no/nb/e/scratch" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Code Studio</h3>
          <h5>Martin Tverråen, Syver Storm-Furru, Ingrid Næss Johansen</h5>
          <p>Klart de minste kan programmere også! Vi bruker Code Studio til å lage et opplegg for de minste barna, her kan man kode både på PC og pad.
            Man må kunne lese, eller ha med seg en voksen som kan hjelpe med den biten:)</p>
          <div class="kids_target">Målgruppe 6+, 40 plasser</div>
          <div class="kids_register"><a href="https://boosterconf.ticketco.events/no/nb/e/code_studio" target="_new">PÅMELDING</a></div>
          <!--<div class="kids_register">PÅMELDING KOMMER</div>-->
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Man blir sulten av å kode, så ca kl 14.00 blir det servert lunsj.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Vi har kaffekrok for foreldre under hele konferansen. Når barna er i gang med kodingen igjen etter lunsj
            (ca kl 14.30) blir det informasjonsmøte her om Lær Kidsa Koding og Boosterkonferansen for foreldre og andre interesserte.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Ta gjerne kontakt med oss på <a href="mailto:kids@boosterconf.no">kids@boosterconf.no</a> om du har spørsmål om Booster Kids!</b></p>
        </div>
      </div>
    </div>

  </div>

</article>
