<article class="inner">
  <div class="header-join">
  <h2>Booster Kids</h2>
  </div>


  <div class="kids">
  <div class="row">
    <div class="col-xs-12">
	  <div style="text-align: center">
		<p>For andre år på rad arrangerer Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Bergen Offentlige Bibliotek, utviklerkonferanse for barn. Konferansen avholdes på Scandic Bergen City 12. mars 2017. Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold, akkurat slik en god konferanse skal være!</p>
		</div>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>11.00 - Registrering av deltagerne starter</h3>
          <p>Alle deltagerne må registreres og få navneskilt.</p>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div style="text-align: center">
        <h3>12.00 - Kick off!</h3>
        <p>Mer info kommer</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 BBC micro:bit</h3>
        <h5>Tjerand Silde</h5>
        <p>Micro:bit er en mikrokontroller som er laget for å lære barn programmering. Vi skal programmere den med kode-blokker, akkurat som Scratch, men det er også mulig å programmere med tekstbaserte språk som Python og JavaScript. En micro:bit har innebygde sensorer og annet som vi kan bruke, for eksempel blåtann, aksellerasjonsmåler, gyroskop, lysmatrise og knapper. </p>
        <div class="kids_target">Målgruppe 10-15 år, 25 plasser</div>
        <div class="kids_register"> <a href="https://boosterconf.ticketco.no/booster_kids__bbc_microbit" target="_new">PÅMELDING åpner snart</a></div>
      </div>

    </div>

    <div class="col-xs-12 col-md-6">

      <div>
        <h3>13.00 - 16.30 Kreativ elektronikk med Arduino</h3>
        <h5>Joachim Haagen Skeie</h5>
        <p>Ved å lære enkel programmering lærer man å bli kreativ med et av de kraftigste arbeidsverktøyene vi har i dag.</p>
        <p>Arduino gjør det mulig å styre alt fra en LED-dimmer til en 3D-printer. I dette tretimerskurset skal vi lære mer
          om hva en Arduino er og hva elektronikk kan brukes til. Men aller viktigst - vi skal lære å få lamper til å blinke,
          vi skal måle temperaturen i rommet - og kanskje vi rekker å få en motor til å rotere!</p>
        <div class="kids_target">Målgruppe 11+, 20 plasser</div>
        <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__arduino" target="_new">PÅMELDING åpner snart</a></div>
      </div>

    </div>
  </div>

  <div class="row">
  
  
  
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 App inventor</h3>
		<h5>Håkon Nilsen</h5>
        <p>Vi lager SPACE INVADERS med App Inventor! App Inventor er et Scratch-lignende språk designet for å lage apper for Android. Det er utviklet av MIT og i bruk av millioner av barn og unge verden over, og er det den raskeste måten å lage en app. Vi skal lage spillet SPACE INVADERS med App Inventor, og du vil lære hvordan du programmerer enkel grafikk, løkker, lyd og - selvsagt - hvordan du skal skyte ned slemme aliens. Det er ingen krav om å ha brukt App Inventor før, vi vil vise en intro i dette, samt grunnleggende programmering, før vi starter.
		</p>
          <div class="kids_target">Målgruppe 10+, 25 plasser</div>
		   <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__code_studio" target="_new">PÅMELDING åpner snart</a></div>
        <p></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 Minecraft Computercraft</h3>
        <h5>Bjørn Hamre</h5>
        <p>Dette blir en workshop hvor du skal få en innføring i hvordan man programmerer roboter i Minecraft. Det blir først en introduksjon og så blir det levert ut oppgaver fra kodeklubben.no hvor du skal følge instruksjonene og skrive egne program til roboten.</p>
        <p>Computercraft er en mod til Minecraft. For å være med her må du ha Minecraft, installere Forge (som lar deg starte Minecraft med mod-er) og legge til Computercraft-moden. Instruksjoner for hvordan dette gjøres sendes ut i forkant av workshopen.<p>
        <p>Om du har spilt Minecraft før er det en fordel. Du må selv ha en Minecraft-konto.</p>
        <div class="kids_target">Målgruppe 11+, 40 plasser</div>
        <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__computercraft" target="_new">PÅMELDING åpner snart</a></div>
      </div>
    </div>
  </div>
  
   <div class="row">
    <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 Processing</h3>
		<h5>Kine Gjerstad Eide</h5>
        <p>Vi lærer å programmere i språket Processing</p>
          <div class="kids_target">Målgruppe 12+, 25 plasser</div>
		   <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__processing" target="_new">PÅMELDING åpner snart</a></div>
        <p></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 Scratch</h3>
        <h5>Maja med flere</h5>
        <p>Scratch er et programmeringsspråk som er ganske enkelt å skjønne, men du kan lage utrolig kule spill med det! På dette kurset er det barn som har gått på kodeklubb og har erfaring med Scratch som underviser. Dette blir gøy!<p>
        <div class="kids_target">Målgruppe 9+, 20 plasser</div>
        <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__scratch" target="_new">PÅMELDING åpner snart</a></div>
      </div>
    </div>
  </div>
  
   <div class="row">
   <div class="col-xs-12 col-md-6">
      <div>
        <h3>13.00 - 16.30 Code Studio</h3>
		<h5>Martin Tverråen</h5>
        <p>Klart de minste kan programmere også! Vi bruker Code Studio til å lage et opplegg for de minste barna, her kan man kode både på PC og pad. Man må kunne lese, eller ha med seg en voksen som kan hjelpe med den biten:)</p>
          <div class="kids_target">Målgruppe 6+, 25 plasser</div>
		   <div class="kids_register"><a href="http://boosterconf.ticketco.no/booster_kids__code_studio" target="_new">PÅMELDING åpner snart</a></div>
        <p></p>
      </div>
    </div>

    <div class="row">
    <div class="col-xs-12">
      <div style="text-align: center">
        <p><b>Man blir sulten av å kode, så ca kl 14.00 blir det servert lunsj.</b></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div style="text-align: center">
        <p><b>Vi har kaffekrok for foreldre under hele konferansen. Når barna er i gang med kodingen igjen etter lunsj (ca kl 14.30) blir det informasjonsmøte her om Lær Kidsa Koding og Boosterkonferansen for foreldre og andre interesserte.</b></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div style="text-align: center">
        <p><b>Ta gjerne kontakt med oss på <a href="mailto:kids@boosterconf.no">kids@boosterconf.no</a> om du har spørsmål om Booster Kids!</b></p>
      </div>
    </div>
  </div>

  </div>

</article>