<article class="inner">
  <div class="header-join">
    <h2>Booster Kids</h2>
  </div>


  <div class="kids">
    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p>For tredje år på rad arrangerer Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Bergen Offentlige
            Bibliotek, utviklerkonferanse for barn. Konferansen avholdes på Scandic Bergen
            City <%= Dates::CONFERENCE_DATE_KIDS %> . Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold,
            akkurat slik en god konferanse skal være!</p>
          <p class="bold"> Mer informasjon om programmet og påmelding kommer senere i år.</p>
        </div>
      </div>
    </div>
  </div>

</article>
