<article class="inner">
  <div class="header-join">
    <h2>Booster Kids - <%= Dates::CONFERENCE_DATE_KIDS %></h2>
  </div>


  <div class="kids">

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p>For femte år på rad arrangerer Boosterkonferansen, i samarbeid med Lær Kidsa Koding og Bergen Offentlige
             Bibliotek, utviklerkonferanse for barn. Konferansen avholdes på Scandic Bergen
              City <b><%= Dates::CONFERENCE_DATE_KIDS %></b>. Det blir kurs for ulike aldersgrupper og et sterkt faglig innhold,
             akkurat slik en god konferanse skal være!</p>
<!--          <p class="bold"> Mer informasjon om programmet og påmelding kommer senere.</p>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>11.00 - Registrering av deltagerne starter</h3>
          <p>Alle deltagerne må registreres og få navneskilt.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <h3>12.00 - Kick off!</h3>
          <p>Det blir selvsagt en felles åpning i år også, mer info følger!
          </p>
          <p> </p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
          <div>
            <h3>13.00 - 16.30 Koding for de minste</h3>
            <h5>Siv Hollup, Kjersti Sveen</h5>
            <p>Her blir det kodeprinsipper både med og uten koding. 
              Bli med inn i datamaskinen og utforsk hvordan datamaskiner virker gjennom ulike aktiviteter. Jobb sammen med andre om å programmere en robot. Vær roboten og utfør programmet, eller lag oppgaver på tegnestasjonen. Vi har satt sammen aktiviteter som kan passe både for de yngste og de litt eldre. Trenger du å kunne skrive for å kunne kode? Selvsagt ikke! De aller minste (4-5 år) bør ha med seg en voksen og er med så lenge det er morsomt.
              For kodedelen bruker vi Code Studio, her kan man kode både på PC og pad. Man må kunne lese, eller ha med seg en voksen som kan hjelpe med den biten:)</p>
            <div class="kids_target">Målgruppe 5+, 40 plasser</div>
            <div class="kids_register">
              <a href="https://boosterconf.ticketco.events/no/nb/e/koding_for_de_minste_2020" target="_new">PÅMELDING</a>
            </div>
            <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
            <p></p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div>
            <h3>13.00 - 16.30 BBC micro:bit</h3>
            <h5>Bjørn, Torstein og Eivind Hamre</h5>
            <p>Micro:bit er en mikrokontroller som er laget for å lære barn programmering. Vi skal programmere den med
              kode-blokker, akkurat som Scratch. I workshopen vil du lære litt om micro:biten og hvordan du overfører
              programmer til den. Gjennom forskjellige oppgaver vil du lage dine egne programmer til den som du kan
              kjøre på en micro:bit. Du må ha med din egen PC og lader, men micro:bit får du låne når du kommer.</p>
            <div class="kids_target">Målgruppe 10+, 30 plasser</div>
            <div class="kids_register">
              <a href="https://boosterconf.ticketco.events/no/nb/e/microbit_2020" target="_new">PÅMELDING</a>
            </div>
            <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 CTF</h3>
          <h5>Erik Vetle Larsen</h5>
          <p>Hva er et flagg? Kom og finn ut!

            I korte trekk: Capture The Flag er en konkurranse hvor deltakere blir utfordret med tekniske problemstillinger, 
            gjerne sikkerhetsrelaterte.

            Hver utfordring du løser gir deg poeng, så jo mer du hacker, jo mer poeng får du. De tekniske sårbarhetene vil 
            involvere utfordringer innenfor IT-Drift, Reverse-Engineering, Server-hacking, Web-applikasjoner og mye mer. 
            Kom ikke for å vinne, men for å lære! Du må ha med din egen PC og lader</p>
          <div class="kids_target">Målgruppe 13+, 20 plasser</div>
          <div class="kids_register">
            <a href="https://boosterconf.ticketco.events/no/nb/e/ctf_2020" target="_new">PÅMELDING</a>
          </div>
          <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
          <p></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Scratch</h3>
          <h5>Kristian Botnen</h5>
          <p>Scratch er er verktøy der vi lager programmer på en måte som kan minne om Lego. Vi plukker de programbrikkene vi vil bruke,
            og setter de sammen slik at programmet vårt gjør det vi har lyst til.
            Scratch fungerer i nettleseren, og er spesielt utviklet for barn mellom 8 og 16 år.
            Det finnes mange forskjellige programbrikker i verktøykassen, og vi kan gjøre mye gøy ved å
            sette sammen brikkene på forskjellige måter.</p>
          <div class="kids_target">Målgruppe 9+, 25 plasser</div>
          <div class="kids_register">
            <a href="https://boosterconf.ticketco.events/no/nb/e/scratch_2020" target="_new">PÅMELDING</a>
          </div>
          <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
        </div>
      </div>

    </div>

     <div class="row">
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Lego Boost</h3>
          <h5>GOOGLE DEVELOPER GROUP</h5>
          <p>Vi skal lære om roboter og koding med Lego Boost. Lego Boost er en interaktiv plattform for å lære koding ved hjelp av legoroboter. Vi skal leke, bygge og kode legoroboter. 
            Opplegget passer veldig bra for de som ikke har programmert så mye før, men som har lyst til å lære. Vi stiller med Lego Boost kits, men husk å ta med en tablet eller telefon for å kunne delta i programmeringen.  
            Opplegget vil være basert på samarbeid da vi ikke har nok Lego Boost kits til alle.</p>

            <div class="kids_target">Målgruppe: 7 til 10 år, 30 plasser</div>
            <div class="kids_register">
              <a href="https://boosterconf.ticketco.events/no/nb/e/lego_boost_2020" target="_new">PÅMELDING</a>
            </div>
            <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
          <p></p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div>
          <h3>13.00 - 16.30 Webutvikling</h3>
          <h5></h5>
          <p>Mer info kommer</p>
          <div class="kids_target">Målgruppe 11+, 20 plasser</div>
          <div class="kids_register">
            <a href="https://boosterconf.ticketco.events/no/nb/e/webutvikling_2020" target="_new">PÅMELDING</a>
          </div>
          <!-- <div class="kids_register">PÅMELDING KOMMER</div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Man blir sulten av å kode, så ca kl 14.00 blir det servert lunsj.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Vi har kaffekrok for foreldre under hele konferansen. Når barna er i gang med kodingen igjen etter lunsj
            (ca kl 14.30) blir det informasjonsmøte her om Lær Kidsa Koding og Boosterkonferansen for foreldre og andre
            interesserte.</b></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div style="text-align: center">
          <p><b>Ta gjerne kontakt med oss på <a href="mailto:kids@boosterconf.no">kids@boosterconf.no</a> om du har
            spørsmål om Booster Kids!</b></p>
        </div>
      </div>
    </div>

  </div>

</article>
