<article class="inner">
  <div class="header-join">
    <h2>Booster Conference monetary policy</h2>
  </div>

  <p>
    Booster is a non-profit conference, run by a group of volunteers. Our goal is to create the best possible conference
    for our participants and speakers, and to strengthen the local software development community.
    Any profits from the conference are used to ensure that we can continue organizing the conference in the following
    years. We are normally not able to cover travel and lodging for speakers.
  </p>

  <p>
    There are quite a few exceptions though. We invite a limited number of speakers in order to ensure diversity,
    and to help market the conference for both submissions and early bird ticket sales. For invited speakers, we refund
    reasonable travel expenses and provide hotel. We do not pay honorariums for any speakers.
  </p>

  <p>
    Whilst many speakers are backed by a company that is able to pay for travel and accommodation, we do realize that this is not
    the case for everyone. For some speakers from some countries, the cost of travel to and accomodation in Norway may be
    prohibitive. If you are a CFP speaker who would otherwise be unable to cover these costs, you may apply for reimbursement.
  </p>

  <h3>The following guidelines apply</h3>

  <ul>

    <li>In order to be eligble for reimbursement, you must generally give a workshop that is half-day or longer.</li>
    <li>We will also consider reimbursing shorter workshops and lightning talk speakers if we feel they bring us greater diversity of community or thought.</li>
    <br/>

    <li>We can cover reasonable travel costs, and up to 3 nights at the conference hotel.</li>
    <li>In some cases, we may decide to cover a part of your costs.</li>
    <br/>

    <li>For speakers from Norway, we normally expect your employer to cover your costs. If they won't (or you're
      independent), please tell us.
    </li>
    <li>We will give priority to applications from countries in The Baltics, Eastern and Southern Europe.</li>
    <li>Please send us your reimbursement application after your talk is accepted.</li>

  </ul>

  <p>Applications is a grand word for it. All we want is an email detailing what you are wanting us to cover to <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a></p>

</article>
