<article class="inner">
  <div class="header-join">
    <h2>Open spaces at Booster</h2>
  </div>
	<p>
		We want you to find time to discuss topics that interest you, and we know that we cannot possibly come up with all the topics that you care about. That is why the open spaces sessions on Thursday afternoon are so useful. During these two sessions you will be setting the agenda. Pitch your ideas, post them on the board, and let the unconference part of the conference begin. 
	</p>
	<p> Here is what Wikipedia has to say about open spaces. 
		<blockquote>
			<p>While the mechanics of Open Space provide a simple means to self-organize, it is the underlying principles that make it effective both for meetings and as a guidepost for individual and collective effectiveness.</p>

			<p>The Law of Two Feet — a foot of passion and a foot of responsibility — expresses the core idea of taking responsibility for what you love. In practical terms, the law says that if you’re neither contributing nor getting value where you are, use your two feet (or available form of mobility) and go somewhere where you can. It is also a reminder to stand up for your passion.</p>

			<p>From the law flow four principles:</p>

			<ul><li>Whoever comes is the right people</li>
			<li>Whatever happens is the only thing that could have</li>
			<li>Whenever it starts is the right time</li>
			<li>When it’s over, it’s over</li> </ul>
		</blockquote>
	</p>
</article>
