<article class="inner group">
  <div class="header-join">
    <h2>Partner with Booster <%= Dates::CONFERENCE_YEAR %></h2>
  </div>

  <p>Booster is an international IT conference situated in Bergen, and the most important meeting place for the local software development community. Booster is a forum for presentation, debate and study
    of information technology and agile methods, organized as a three day conference with lectures, workshops and
    lightning talks of high academic quality.</p>

  <p>Booster is aimed at software developers, project managers, testers, designers, architects, security experts and
    usability professionals. Booster focuses on craftsmanship, methods and quality and facilitates for professional
    networking. </p>

  <p>In order to organize the event we need to raise money from partners. Partners are recognized and acknowledged at
    the conference with the following benefits:</p>

  <ul>
    <li>Our gratitude and heartfelt thanks, expressed through social media</li>
    <li>Logo on the conference website</li>
    <li>Have a roll-up banner in the plenary room</li>
    <li>Use the Booster Conference's logo in their marketing</li>
    <li>Two tickets to the conference and conference dinner</li>
    <li>One single day ticket (includes conference dinner)</li>
    <li>Early access to registration for Booster Kids (limited tickets available)</li>
  </ul>

  
  <p>The partnership package price is NOK <%= AppConfig.partner_price_in_nok_before_vat %>,- plus VAT.</p>

  <p>Please send an e-mail to <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a> if you want to know
    more about partnering with Booster.</p>
</article>
