<article class="inner">
  <div class="header-join">
    <h2>Pre-conference workshops</h2>
  </div>

  <p>
    For the first time ever, Booster is doing pre-conference workshops that are independent from the conference itself.
    That means that while they fit great together with the conference, they can also be attended separately, and
    have separate tickets. All workshops are one full day, and each are <strong>NOK 6000,-</strong> (excl VAT).
  </p>

  <p>All workshops include:</p>
  <ul>
    <li>Snacks and beverages in all breaks</li>
    <li>Tasty lunch</li>
    <li>Pen and paper</li>
  </ul>

  <p>On Monday March 9, <strong>Johanna Rothman</strong> will teach you about agile management with
    <a href="#managers">Agile Managers: The Essence of Leadership</a>. Tuesday March 10,
    <strong>Vitaly Friedman</strong> and <strong>Johanna Rothman</strong> will offer classes on
    <a href="#portfolio">Manage Your Project Portfolio: A Lean and Agile Approach</a> and
    <a href="#responsive">Smart Responsive Design Patterns & Front-End Techniques</a>.
  </p>

  <p>
    <%= link_to 'Register for pre-conference workshops now!',
                'https://docs.google.com/forms/d/1R53Y6m4-rq9f0cHaNNhq-RWK-8HNRjwC47FHKCwL-ys/viewform',
                { target: '_new', class: 'a-bit-bigger' } %>
  </p>

  <p>&nbsp;</p>

  <a name="portfolio"></a>
  <h3>Manage Your Project Portfolio: A Lean and Agile Approach</h3>

  <p>
    Feel as if you can't get anything done? More projects than time to do them? Crises out the wazoo? Then it's time
    to consider another approach: managing your project portfolio. Let well-renowned author and manager extraordinare
    Johanna Rothman help you to organize your projects and evaluate them without getting buried under a mountain
    of statistics.
  </p>

  <p>
    You might think you need a lot of math to evaluate the projects in your project portfolio, but you don't. Not if
    you're agile. And, if you're not agile, but you're willing to move to implementing by feature in relatively short
    timeboxes (still not agile), you can gain the benefit of managing your project portfolio and not be overwhelmed by
    multitasking and context switching.
  </p>

  <p>
    Johanna will discuss how to collect all your work, decide which projects you should do first, second—and never.
    You’ll see how lean and agile approaches fit managing the project portfolio and how they make it easy. We’ll
    discuss how to tie your work to your organization’s mission and show your board, your managers, and your staff
    what you can accomplish and when. You’ll get a better view of the work you have, and learn how to make those
    difficult decisions, ensuring that all your strength is focused where it needs to be.
  </p>

  <h4>Outline</h4>
  <ol>
    <li>What project portfolio management is</li>
    <li>Collecting the work
      <ol>
        <li>Where work hides</li>
        <li>Create a transparent portfolio</li>
        <li>Practice with your project portfolio.</li>
      </ol>
    </li>
    <li>Collaborating to evaluate the project portfolio
      <ol>
        <li>Zeroth question to ask</li>
        <li>How to make ranking decisions</li>
        <li>When people play zero-sum games</li>
        <li>Practice and debrief</li>
      </ol>
    </li>
    <li>Simulation: Project portfolio evaluation and re-evaluation</li>
    <li> How to share decisions
      <ol>
        <li>How to explain to the organization what your group is working on</li>
        <li>How to explain to the organization what the priorities are and why</li>
        <li>Practice and debrief</li>
      </ol>
    </li>
    <li>Wrapup</li>
  </ol>

  <p>
    <%= link_to 'Register for this workshop',
                'https://docs.google.com/forms/d/1R53Y6m4-rq9f0cHaNNhq-RWK-8HNRjwC47FHKCwL-ys/viewform',
                { target: '_new' } %>
  </p>
  <a href="#top">Take me to the top!</a>
  <p>&nbsp;</p>

  <a name="managers"></a>
  <h3>Agile Managers: The Essence of Leadership</h3>

  <p>
    If you look at the agile manifesto, there is no mention of management. Many technical teams start the transition
    to agile in their organizations. Or, the mandate to agile comes from the very top. Does that mean that we do not
    need any managers? No. We need managers. But, what they do changes in an agile organization, and Johanna Rothman
    is here to help your tackle that transition.
  </p>

  <p>
    In an agile organization, where the managers no longer perform daily tactical project tasks, we need them more
    than ever as organizational leaders: setting strategy, managing the project portfolio, removing organizational
    obstacles, building trusting relationships with technical staff, coaching, providing feedback, assisting with
    career development, leading the hiring decisions and process, and building the capacity of the organization.
  </p>

  <p>
    Do you know how to perform this work? In this experiential session, Johanna Rothman invites you to experience
    some time in the day of an agile manager. You will feel what it is like to set the strategy, to manage the project
    portfolio, to remove obstacles, to provide feedback, and to build the capacity of the organization.
  </p>

  <h4>Outline</h4>

  <ol>
    <li>Introduction to servant leadership. The difference between managing and leading</li>
    <li>Experience some project portfolio management decision-making
      <ol>
        <li>How do you do this in your organization?</li>
        <li>Some notes about the cost of delay</li>
      </ol>
    </li>
    <li>Coaching and meta-coaching
      <ol>
        <li>Coaching stances and how they help you and the coachee</li>
        <li> Experience coaching and debrief</li>
        <li>How to meta-coach</li>
        <li>Experience meta-coaching and debrief</li>
      </ol>
    </li>
    <li>Influence around the organization
      <ol>
        <li>What influence is and is not</li>
        <li>Practice influencing and debrief</li>
        <li>How to influence up and sideways</li>
        <li>When not to influence</li>
      </ol>
    </li>
    <li>Working with people one-on-one
      <ol>
        <li>How the one-on-one changes in an agile organization</li>
        <li>Practice in how to conduct a one-on-one</li>
        <li>Feedback in a one-on-one and how to teach feedback to others</li>
      </ol>
    </li>
    <li>How do you know the capacity of your organization?
      <ol>
        <li>How agile helps you learn about capacity</li>
        <li>What you can and cannot measure</li>
        <li>What you can do as a leader</li>
      </ol>
    </li>
    <li>Wrapup</li>
  </ol>

  <p>
    <%= link_to 'Register for this workshop',
                'https://docs.google.com/forms/d/1R53Y6m4-rq9f0cHaNNhq-RWK-8HNRjwC47FHKCwL-ys/viewform',
                { target: '_new' } %>
  </p>
  <a href="#top">Take me to the top!</a>
  <p>&nbsp;</p>

  <a name="responsive"></a>
  <h3>Smart Responsive Design Patterns & Front-End Techniques</h3>

  <p>
    In this full-day workshop, Vitaly Friedman, editor-in-chief of Smashing Magazine, will present <strong>practical
    techniques, clever tricks and useful strategies</strong> you need to be aware of when working on any responsive design
    project. Most techniques are borrowed from mid-size and large-scale real-life projects, such as large e-commerce
    projects, online magazines and Web applications.
  </p>

  <p>
    We'll be looking at specific techniques for building well organised, front-end software, and wherever possible
    this work will be hands-on. Vitaly will introduce theories and ideas for dealing with common problems, and
    attendees will be assigned small tasks so they can experiment for themselves with these techniques. This will
    be involve a mixture of both individual and group work. There will be plenty of time allocated to discussions,
    so we can make sure that everyone understands how they can apply what they've learned to their specific working
    environments.
  </p>

  <p>In this workshop, you'll learn: </p>

  <ul>
    <li>Effective tools and techniques that can support and enhance your personal workflow when working on any
      responsive
      design project
    </li>
    <li>An overview of clever practical techniques for improving UX as well as performance of responsive sites</li>
    <li>Front-end strategies for scalable, resolution-independent graphics and maintainable CSS code</li>
    <li>Responsive Design Patterns and innovative approaches to designing "responsive modules" such as tables,
      calendars, multi-level menus, maps and Web forms
    </li>
    <li>Testing, debugging and maintenance techniques for responsive sites as well as lessons learned from Smashing
      Magazine's own redesign and performance optimizations
    </li>
    <li>How to manage legacy browsers and deal with Internet Explorer 8 and Android 2.3 in responsive projects</li>
    <li>Technical issues (and solutions) for responsive advertising and responsive email newsletters</li>
    <li>How the design processes should adapt in terms of the project management, deliverables, performance budgets,
      team organisation and strategy
    </li>
  </ul>

  <p>
    This workshop is intended for professional designers, developers and everybody else who is dealing with responsive
    design regularly or wants to better understand responsive design in general. You should at least be familiar with
    some basics of responsive design, HTML5 and CSS.
  </p>

  <p>
    <%= link_to 'Register for this workshop',
                'https://docs.google.com/forms/d/1R53Y6m4-rq9f0cHaNNhq-RWK-8HNRjwC47FHKCwL-ys/viewform',
                { target: '_new' } %>
  </p>
  <a href="#top">Take me to the top!</a>
  <p>&nbsp;</p>

</article>
