<article>
  <h2>Booster Conference monetary policy</h2>

  <p>
    Booster is a non-profit conference, run by a group of volunteers. Our goal is to create the best possible conference
    for our participants and speakers, and to strengthen the local software development community.
    Any profits from the conference are used to ensure that we can continue organizing the conference in the following
    years. Because of this, we normally don't cover travel and lodging for speakers.
  </p>

  <p>
    There are a few exceptions from this policy. We do invite a limited number of speakers in order to ensure diversity,
    and to help market the conference for both submissions and early bird ticket sales. For invited speakers, we refund
    reasonable travel expenses and provide hotel. We do not pay honorariums for any speakers.
  </p>

  <p>
    Many speakers are backed by a company that are is to pay for travel and accommodation. We realize that this is not
    the case for all speakers. For some speakers from some countries, the cost of accomodation in Norway may be
    prohibitive. Because of this, we have decided that CFP speakers may apply for reimbursement of costs. Please note
    that this will be available for a limited number of speakers.
  </p>

  <h3>The following guidelines apply</h3>

  <ul>

    <li>In order to be eligble for reimbursement, you must give a workshop that is half-day or longer.</li>
    <li>Lightning talk speakers are not eligible for reimbursement</li>
    <br/>

    <li>We can cover reasonable travel costs, and up to 3 nights at the conference hotel.</li>
    <li>In some cases, we may decide to cover a part of your costs.</li>
    <br/>

    <li>For speakers from Norway, we normally expect your employer to cover your costs. If they won't (or you're
      independent), please tell us.</li>
    <li>We will give priority to applications from countries in The Baltics, Eastern and Southern Europe.</li>
    <li>If your talk is accepted, you will at the same time receive the decision on your reimbursement application  </li>

  </ul>

  <p>Applications must be sent to <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a></p>

</article>