<article>
  <h2>Become a sponsor for Booster 2013</h2>

  <p>Booster is an international IT conference situated in Bergen. Booster is a forum for presentation, debate and study
    of information technology and agile methods, organized as a three day conference with lectures, workshops and
    lightning talks of high academic quality.</p>

  <p>Booster is aimed at software developers, project managers, testers, designers, architects, security experts and
    usability professionals. Booster focuses on craftsmanship, methods and quality and facilitates for professional
    networking. </p>

  <p>In order to organize the event we need to raise money from sponsors. Sponsors are recognized and acknowledged at
    the conference with the following benefits:</p>

  <ul>
    <li>Logo on printed materials, such as the program, flyers, etc.</li>
    <li>Logo on the conference website</li>
    <li>Have a roll-up banner in the plenary room "Dragefjellet"</li>
    <li>Use the Booster Conference's logo in their marketing</li>
    <li>Two tickets to the conference and conference dinner</li>
  </ul>

  <p>In addition, sponsors that wish to, may supply marketing material/giveaways in the bags that are handed out to to
    participants upon registration.</p>

  <p>The sponsorship package price is NOK 25.000, - + VAT.</p>

  <p>Please send an e-mail to <a href="mailto:kontakt@boosterconf.no">kontakt@boosterconf.no</a> if you want to know
    more about sponsoring Booster.</p>
</article>